<%= form_with(model: order_status, local: true) do |form| %>
  <% if order_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_status.errors.count, "error") %> prohibited this order_status from being saved:</h2>

      <ul>
      <% order_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_status_description %>
    <%= form.text_field :order_status_description, id: :order_status_order_status_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
