<%= form_with(model: ship_vium, local: true) do |form| %>
  <% if ship_vium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ship_vium.errors.count, "error") %> prohibited this ship_vium from being saved:</h2>

      <ul>
      <% ship_vium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ship_via_description %>
    <%= form.text_field :ship_via_description, id: :ship_vium_ship_via_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
