<!-- Employee Orders -->
<% if params[:active_tab] == 'report8' || !params[:active_tab] %>
  <!-- Tab 8 - Report 8 (Active if active_tab is report 8) -->
  <div class="tab-pane container-fluid active" id="report8">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab7day" role="tab" data-toggle="tab" href="#report8tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report8tab30day" role="tab" data-toggle="tab" href="#report8tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab3month" role="tab" data-toggle="tab" href="#report8tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab6month" role="tab" data-toggle="tab" href="#report8tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab1year" role="tab" data-toggle="tab" href="#report8tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report8tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 7.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report8tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 30.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report8tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 3.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report8tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 6.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report8tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 1.year).group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 1.year).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

    </div>

  </div>
<% else %>
  <!-- Tab 8 - Report 8 (Inactive) -->
  <div class="tab-pane container-fluid" id="report8">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab7day" role="tab" data-toggle="tab" href="#report8tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report8tab30day" role="tab" data-toggle="tab" href="#report8tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab3month" role="tab" data-toggle="tab" href="#report8tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab6month" role="tab" data-toggle="tab" href="#report8tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report8tab1year" role="tab" data-toggle="tab" href="#report8tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report8tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 7.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report8tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 30.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report8tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 3.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report8tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 6.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report8tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Employees - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report8table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Employee</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 1.year).group_by(&:employee).each do |order, employee| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.fname + " " + order.lname %></td>
                      <td class="text-center"><%= Order.left_joins(:employee).order("COUNT(orders.id) DESC").where("employee_id = ? AND order_date > ?", order.id, Date.today - 1.year).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>
    </div>
  </div>
<% end %>
