<!-- Orders by Date -->
<% if params[:active_tab] == 'report1' || !params[:active_tab] %>
  <!-- Tab 1 - Report 1 (Active if active_tab is report 1 or null) -->
  <div class="tab-pane container-fluid active" id="report1">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab7day" role="tab" data-toggle="tab" href="#report1tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab30day" role="tab" data-toggle="tab" href="#report1tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab3month" role="tab" data-toggle="tab" href="#report1tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report1tab6month" role="tab" data-toggle="tab" href="#report1tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab1year" role="tab" data-toggle="tab" href="#report1tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report1tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 7.days).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report1tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 30.days).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report1tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 3.months).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report1tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 6.months).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report1tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 1.year).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

    </div>

  </div>
<% else %>
  <!-- Tab 1 - Report 1 (Inactive) -->
  <div class="tab-pane container-fluid" id="report1">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab7day" role="tab" data-toggle="tab" href="#report1tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab30day" role="tab" data-toggle="tab" href="#report1tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab3month" role="tab" data-toggle="tab" href="#report1tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report1tab6month" role="tab" data-toggle="tab" href="#report1tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report1tab1year" role="tab" data-toggle="tab" href="#report1tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report1tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 7.days).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report1tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 30.days).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report1tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 3.months).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report1tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 6.months).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report1tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Companies - Order Dates

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report1table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Order Date</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.where('order_date > ?', Date.today - 1.year).each do |order| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor.vendor_name %></td>
                      <td class="text-center"><%= order.customer.company_name %></td>
                      <td class="text-center"><%= order.order_date %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

    </div>

  </div>
<% end %>

<script>
  $(document).ready(function() {

      // Declare report1-tables
      var report1table7d = $('#report1table7d').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 2, 'desc' ]]
      } );
      var report1table30d = $('#report1table30d').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 2, 'desc' ]]
      } );
      var report1table3m = $('#report1table3m').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 2, 'desc' ]]
      } );
      var report1table6m = $('#report1table6m').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 2, 'desc' ]]
      } );
      var report1table1y = $('#report1table1y').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 2, 'desc' ]]
      } );

  } );
</script>
