<!-- Vendor Orders -->
<% if params[:active_tab] == 'report9' || !params[:active_tab] %>
  <!-- Tab 9 - Report 9 (Active if active_tab is report 9) -->
  <div class="tab-pane container-fluid active" id="report9">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab7day" role="tab" data-toggle="tab" href="#report9tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab30day" role="tab" data-toggle="tab" href="#report9tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab3month" role="tab" data-toggle="tab" href="#report9tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report9tab6month" role="tab" data-toggle="tab" href="#report9tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab1year" role="tab" data-toggle="tab" href="#report9tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report9tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 7.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report9tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 30.days).count%></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report9tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 3.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report9tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 6.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report9tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 1.year).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

    </div>

  </div>
<% else %>
  <!-- Tab 9 - Report 9 (Active if active_tab is report 9) -->
  <div class="tab-pane container-fluid" id="report9">

    <!-- Time Tabs -->
    <ul class="nav nav-tabs mb-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab7day" role="tab" data-toggle="tab" href="#report9tab7day">7 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab30day" role="tab" data-toggle="tab" href="#report9tab30day">30 Days</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab3month" role="tab" data-toggle="tab" href="#report9tab3month">3 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-controls="report9tab6month" role="tab" data-toggle="tab" href="#report9tab6month">6 Months</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-controls="report9tab1year" role="tab" data-toggle="tab" href="#report9tab1year">1 Year</a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- 7 Days -->
      <div class="tab-pane container-fluid" id="report9tab7day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table7d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 7.days).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 30 Days -->
      <div class="tab-pane container-fluid" id="report9tab30day">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table30d" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 30.days).count%></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 3 Month -->
      <div class="tab-pane container-fluid" id="report9tab3month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table3m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 3.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 6 Month -->
      <div class="tab-pane container-fluid active" id="report9tab6month">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table6m" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 6.months).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

      <!-- 1 Year -->
      <div class="tab-pane container-fluid" id="report9tab1year">
        <!-- Table Card -->
        <div class="card mb-3">

          <!-- Table Header -->
          <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendors - Orders

          </div>

          <!-- Table Card Body -->
          <div class="card-body">

            <!-- Table Type -->
            <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered table-hover table-striped" id="report9table1y" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Orders</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                  <% @orders.group_by(&:vendor).each do |order, vendor| %>

                    <tr>
                      <!-- Columns to pull from order data -->
                      <td class="text-center"><%= order.vendor_name %></td>
                      <td class="text-center"><%= Order.left_joins(:vendor).order("COUNT(orders.id) DESC").where("vendor_id = ? AND order_date > ?", order.id, Date.today - 1.year).count %></td>
                    </tr>

                  <% end %>

                </tbody>

              </table>

            </div>

          </div>

          <!-- Footnote: Lastest date a order was created -->
          <div class="card-footer small text-muted"></div>

        </div>
      </div>

    </div>

  </div>
<% end %>

<!-- Vendors by State -->
<% if params[:active_tab] == 'report7' %>
  <!-- Tab 7 - Report 7 (Active if active_tab is report 7) -->
  <div class="tab-pane container-fluid active" id="report7">

    <!-- Table Card -->
    <div class="card mb-3">

      <!-- Table Header -->
      <div class="card-header">

        <!-- Table Icon -->
        <i class="fa fa-table"></i>

        <!-- Table Name -->
        States - Vendors

      </div>

      <!-- Table Card Body -->
      <div class="card-body">

        <!-- Table Type -->
        <div class="table-responsive">

          <!-- Report 1 Table -->
          <table class="table table-bordered table-hover table-striped" id="report7table" width="100%" cellspacing="0">

            <!-- Top Column Names -->
            <thead>

              <tr>

                <th class="text-center">State</th>
                <th class="text-center">Vendors</th>

              </tr>

            </thead>

            <!-- Bottom Column Names -->
            <tfoot>

              <tr>

                <th class="text-center">State</th>
                <th class="text-center">Vendors</th>

              </tr>

            </tfoot>

            <!-- Content -->
            <tbody>

              <!-- Load order data -->
              <% @vendors.group_by(&:state).each do |vendor, state| %>

                <tr>
                  <!-- Columns to pull from order data -->
                  <td class="text-center"><%= vendor.state_name %></td>
                  <td class="text-center"><%= vendor.vendor_ids.count %></td>

                </tr>

              <% end %>

            </tbody>

          </table>

        </div>

      </div>

      <!-- Footnote: Lastest date a order was created -->
      <div class="card-footer small text-muted"></div>

    </div>

  </div>
<% else %>
  <!-- Tab 7 - Report 7 (Inactive) -->
  <div class="tab-pane container-fluid" id="report7">

    <!-- Table Card -->
    <div class="card mb-3">

      <!-- Table Header -->
      <div class="card-header">

        <!-- Table Icon -->
        <i class="fa fa-table"></i>

        <!-- Table Name -->
        States - Vendors

      </div>

      <!-- Table Card Body -->
      <div class="card-body">

        <!-- Table Type -->
        <div class="table-responsive">

          <!-- Report 1 Table -->
          <table class="table table-bordered table-hover table-striped" id="report7table" width="100%" cellspacing="0">

            <!-- Top Column Names -->
            <thead>

              <tr>

                <th class="text-center">State</th>
                <th class="text-center">Vendors</th>

              </tr>

            </thead>

            <!-- Bottom Column Names -->
            <tfoot>

              <tr>

                <th class="text-center">State</th>
                <th class="text-center">Vendors</th>

              </tr>

            </tfoot>

            <!-- Content -->
            <tbody>

              <!-- Load order data -->
              <% @vendors.group_by(&:state).each do |vendor, state| %>

                <tr>
                  <!-- Columns to pull from order data -->
                  <td class="text-center"><%= vendor.state_name %></td>
                  <td class="text-center"><%= vendor.vendor_ids.count %></td>

                </tr>

              <% end %>

            </tbody>

          </table>

        </div>

      </div>

      <!-- Footnote: Lastest date a order was created -->
      <div class="card-footer small text-muted"></div>

    </div>

  </div>
<% end %>

<script>
  $(document).ready(function() {

      // Declare report7table
      var report7table = $('#report7table').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );

      // Declare report9tables
      var report9table7d = $('#report9table7d').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );
      var report9table30d = $('#report9table30d').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );
      var report9table3m = $('#report9table3m').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );
      var report9table6m = $('#report9table6m').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );
      var report9table1y = $('#report9table1y').DataTable( {
        dom: 'Bflrtip',
        "paging": true,
        "order": [[ 1, 'desc' ]]
      } );

  } );
</script>
