<div class="container">
  <div class="card card-login mx-auto">
    <div class="card-body">
      
      <div>
        * = required
      </div>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= devise_error_messages! %>

        <div class="field">
          <b><%= f.label :email %> * </b><br />
          <%= f.email_field :email, type: 'email', size: "36", autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="field">
          <b><%= f.label :fname %> * </b><br />
          <%= f.text_field :fname, size: "20",autofocus: true, autocomplete: "first name", required: true %>
        </div>

        <div class="field">
          <b><%= f.label :lname %> *</b><br />
          <%= f.text_field :lname, size: "20",autofocus: true, autocomplete: "last name", required: true %>
        </div>

        <div class="field">
          <b><%= f.label :phone %> * </b><br />
          <%= f.text_field :phone, type: 'tel', size: "10",autofocus: true, autocomplete: "phone number", required: true %>
        </div>

        <div class="field">
          <b><%= f.label :password %> * </b>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, size: "36",autocomplete: "off", required: true %>
        </div>

        <div class="field">
          <b><%= f.label :password_confirmation %> * </b><br />
          <%= f.password_field :password_confirmation, size: "36",autocomplete: "off", required: true %>
        </div>

        <%= f.hidden_field :employee_status_id, value: 2 %>

        <div class="actions row">
          <%= f.submit " Sign up", :class => 'btn btn-primary btn-sm mx-auto mt-2 pl-4 pr-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
