<%= form_with(model: vendor_status, local: true) do |form| %>
  <% if vendor_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor_status.errors.count, "error") %> prohibited this vendor_status from being saved:</h2>

      <ul>
      <% vendor_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :VendorStatusType %>
    <%= form.text_field :VendorStatusType, id: :vendor_status_VendorStatusType %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
