<div class="card mb-3">

  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Customer Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-customer-modal">
                Add New Customer
        </button>

      </div>

  </div>

  <div class="card-body">

    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th>Disable</th>
              <th>Edit</th>
              <th>First</th>
              <th>Last</th>
              <th>Company</th>
              <th>Job</th>
              <th>Work</th>
              <th>Mobile</th>
              <th>Fax</th>
              <th>Email</th>
              <th>CC Email</th>
              <th>Website</th>
              <th>Social Media</th>
              <th>Addr. 1</th>
              <th>Addr. 2</th>
              <th>State</th>
              <th>City</th>
              <th>Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th>Disable</th>
              <th>Edit</th>
              <th>First</th>
              <th>Last</th>
              <th>Company</th>
              <th>Job</th>
              <th>Work</th>
              <th>Mobile</th>
              <th>Fax</th>
              <th>Email</th>
              <th>CC Email</th>
              <th>Website</th>
              <th>Social Media</th>
              <th>Addr. 1</th>
              <th>Addr. 2</th>
              <th>State</th>
              <th>City</th>
              <th>Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load customer data -->
              <% @customers.each do |customer| %>
                <% if !customer.deleted_at %>
                  <tr>

                    <!-- Columns to pull from customer data -->
                      <td>
                        <%= button_to 'Disable',
                            toggle_customer_path(customer.id),
                            :method => :put,
                            :class => 'btn btn-outline-danger',
                            :data => {
                              :confirm => "Are you sure that you want to disable " +
                                           customer.customer_first_name +
                                           customer.customer_last_name + "?" } %></td>
                      <td>
                        <%= button_to 'Edit',
                            edit_customer_path(customer.id),
                            :method => :get,
                            :class => 'btn btn-outline-success' %></td>
                      <td><%= customer.customer_first_name %></td>
                      <td><%= customer.customer_last_name %></td>
                      <td><%= customer.company_name %></td>
                      <td><%= customer.job_title %></td>
                      <td><%= customer.work_phone %></td>
                      <td><%= customer.mobile %></td>
                      <td><%= customer.fax %></td>
                      <td><%= customer.customer_email %></td>
                      <td><%= customer.customer_cc_email %></td>
                      <td><%= customer.website %></td>
                      <td><%= customer.social_media_address %></td>
                      <td><%= customer.street_address_1 %></td>
                      <td><%= customer.street_address_2 %></td>
                      <td><%= customer.state.state_name %></td>
                      <td><%= customer.city %></td>
                      <td><%= customer.zip_code %></td>


                  </tr>
                <% end %>
              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a customer was updated -->
  <div class="card-footer small text-muted">

  </div>

</div>

<!-- Add Customer Modal-->
<%= render partial: 'partials/modals/add-customer-modal' %>
