<!-- Table Card -->
<div class="card mb-3">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Customer Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <!-- Add Customer Button -->
        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-customer-modal">
                Add New Customer
        </button>

      </div>

  </div>

  <!-- Table Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">

        <!-- Customer Table -->
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Company</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Social Media</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">State</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Company</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Social Media</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">State</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load customer data -->
              <% @customers.each do |customer| %>
                <% if !customer.deleted_at %>
                  <tr>

                    <!-- Columns to pull from customer data -->
                      <td class="text-center">
                        <!-- Disable Button -->
                        <%= button_to 'Disable',
                            toggle_customer_path(customer.id),
                            :method => :put,
                            :class => 'btn btn-outline-danger',
                            :data => {
                              :confirm => "Are you sure that you want to disable " +
                                           customer.customer_first_name +
                                           customer.customer_last_name + "?" } %></td>
                      <td class="text-center">
                        <!-- Edit Button -->
                        <%= button_to 'Edit',
                            edit_customer_path(customer.id),
                            :method => :get,
                            :class => 'btn btn-outline-success' %></td>
                      <td class="text-center"><%= customer.customer_first_name %></td>
                      <td class="text-center"><%= customer.customer_last_name %></td>
                      <td class="text-center"><%= customer.company_name %></td>
                      <td class="text-center"><%= customer.job_title %></td>
                      <td class="text-center"><%= customer.work_phone %></td>
                      <td class="text-center"><%= customer.mobile %></td>
                      <td class="text-center"><%= customer.fax %></td>
                      <td class="text-center"><%= customer.customer_email %></td>
                      <td class="text-center"><%= customer.customer_cc_email %></td>
                      <td class="text-center"><%= customer.website %></td>
                      <td class="text-center"><%= customer.social_media_address %></td>
                      <td class="text-center"><%= customer.street_address_1 %></td>
                      <td class="text-center"><%= customer.street_address_2 %></td>
                      <td class="text-center"><%= customer.state.state_name %></td>
                      <td class="text-center"><%= customer.city %></td>
                      <td class="text-center"><%= customer.zip_code %></td>


                  </tr>

                <% end %>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a customer was updated -->
  <div class="card-footer small text-muted">

  </div>

</div>

<!-- Add Customer Modal-->
<%= render partial: 'partials/modals/add-customer-modal' %>
