
<!--toggle buttons-->

<section class="row">

  <div class="mb-2 mx-auto btn-group">

    <a class="show-all-col btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Show All Columns</a>

    <a class="hide-all-col btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Hide All Columns</a>

    <a class="show-contact btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Only Show Customer Contact Info</a>

    <a class="show-info btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Only Show Customer Info</a>

  </div>

</section>

<section class="row">

  <div class="mb-2 px-4 mx-auto">

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="0"
       href="">Disable</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="1"
       href="">Edit</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="2"
       href="">First</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="3"
       href="">Last</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="4"
       href="">Company</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="5"
       href="">Job</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="6"
       href="">Work</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="7"
       href="">Mobile</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="8"
       href="">Fax</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="9"
       href="">Email</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="10"
       href="">CC Email</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="11"
       href="">Website</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="12"
       href="">Social Media</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="13"
       href="">Address 1</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="14"
       href="">Address 2</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="15"
       href="">State</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="16"
       href="">City</a>

    <a class="toggle-vis btn btn-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="17"
       href="">Zip</a>

  </div>

</section>




<!-- Table Card -->

<div class="card mb-3">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Customer Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <!-- Add Customer Button -->
        <%= button_to 'Create New Customer',
            new_customer_path,
            :method => :get,
            :class => 'btn btn-outline-primary' %></td>

      </div>

  </div>

  <!-- Table Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">


        <table class="table table-bordered table-hover table-striped" id="customertable" width="100%" cellspacing="0">


          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Company</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Social Media</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">State</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Company</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Social Media</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">State</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load customer data -->
              <% @customers.each do |customer| %>
                  <tr>

                    <!-- Columns to pull from customer data -->
                      <td class="text-center">
                        <!-- Disable Button -->
                        <% if !customer.deleted_at %>
                          <%= button_to 'Disable',
                              toggle_customer_path(customer.id),
                              :method => :put,
                              :class => 'btn btn-outline-danger btn-sm',
                              :data => {
                                :confirm => "Are you sure that you want to disable " +
                                             customer.customer_first_name +
                                             customer.customer_last_name + "?" } %></td>
                        <% else %>
                          <%= button_to 'Enable',
                              toggle_customer_path(customer.id),
                              :method => :put,
                              :class => 'btn btn-outline-success btn-sm',
                              :data => {
                                :confirm => "Are you sure that you want to enable " +
                                             customer.customer_first_name +
                                             customer.customer_last_name + "?" } %></td>
                        <% end %>
                      <td class="text-center">
                        <!-- Edit Button -->
                        <%= button_to 'Edit',
                            edit_customer_path(customer.id),
                            :method => :get,
                            :class => 'btn btn-outline-success btn-sm' %></td>
                      <td class="text-left-align"><%= customer.customer_first_name %></td>
                      <td class="text-left-align"><%= customer.customer_last_name %></td>
                      <td class="text-left-align"><%= customer.company_name %></td>
                      <td class="text-left-align"><%= customer.job_title %></td>
                      <td class="text-left-align"><%= customer.work_phone %></td>
                      <td class="text-left-align"><%= customer.mobile %></td>
                      <td class="text-left-align"><%= customer.fax %></td>
                      <td class="text-left-align"><%= customer.customer_email %></td>
                      <td class="text-left-align"><%= customer.customer_cc_email %></td>
                      <td class="text-left-align"><%= customer.website %></td>
                      <td class="text-left-align"><%= customer.social_media_address %></td>
                      <td class="text-left-align"><%= customer.street_address_1 %></td>
                      <td class="text-left-align"><%= customer.street_address_2 %></td>
                      <td class="text-left-align"><%= customer.state.state_name %></td>
                      <td class="text-left-align"><%= customer.city %></td>
                      <td class="text-left-align"><%= customer.zip_code %></td>


                  </tr>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a customer was updated -->
  <div class="card-footer small text-muted">

  </div>

</div>

<!-- Add Customer Modal-->
<%= render partial: 'partials/modals/add-customer-modal' %>

<script>
    $(document).ready(function() {
        var table = $('#customertable').DataTable( {
            "paging": true
        } );

        $('a.toggle-vis').on( 'click', function (e) {

            // Get the column API object
            var column = table.column( $(this).attr('data-column') );

            // Toggle the visibility
            column.visible( ! column.visible() );
        } );

        $('a.show-all-col').on( 'click', function (e) {

            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );

        $('a.hide-all-col').on( 'click', function (e) {

            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( false, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );

        $('a.show-contact').on( 'click', function (e) {
            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );
            table.columns( [ 0, 1, 5, 13, 14, 15, 16, 17 ] ).visible( false, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );

        $('a.show-info').on( 'click', function (e) {
            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );
            table.columns( [ 0, 1, 6, 7, 8, 9, 10, 11, 12 ] ).visible( false, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );
    } );
</script>
