<!-- Table Card -->
<div class="card mb-3">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Employee Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <!-- Add Employee Button -->
        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-employee-modal">
                Add New Employee
        </button>

      </div>

  </div>

  <!-- Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">

        <!-- Employee Table -->
        <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">ID</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Email</th>
              <th class="text-center">Sign-in Count</th>
              <th class="text-center">Last Sign-in</th>
              <th class="text-center">Created</th>
              <th class="text-center">Updated</th>
              <th class="text-center">Disabled</th>
              <th class="text-center">Admin</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">ID</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Email</th>
              <th class="text-center">Sign-in Count</th>
              <th class="text-center">Last Sign-in</th>
              <th class="text-center">Created</th>
              <th class="text-center">Updated</th>
              <th class="text-center">Disabled</th>
              <th class="text-center">Admin</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load employee data -->
            <% @employees.each do |employee| %>

              <tr>

                <!-- Columns to pull from employee data -->
                <td class="text-center">
                  <!-- Disable the disable button for current employee, disable button -->
                  <% if current_employee == employee %>

                      <button class="btn btn-outline-dark"
                              disabled>
                              Current
                      </button>

                  <% else %>

                    <% if !employee.deleted_at%>

                      <%= button_to 'Disable',
                          toggle_employee_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-danger',
                          :data => {
                            :confirm => "Are you sure that you want to disable " +
                                         employee.email + "?" } %></td>

                    <% else %>

                      <%= button_to 'Enable',
                          toggle_employee_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-success',
                          :data => {
                            :confirm => "Are you sure that you want to enable " +
                                         employee.email + "?" } %></td>

                    <% end %>

                  <% end %>

                <td class="text-center"><%= employee.id %></td>
                <td class="text-center"><%= employee.fname %></td>
                <td class="text-center"><%= employee.lname %></td>
                <td class="text-center"><%= employee.email %></td>
                <td class="text-center"><%= employee.sign_in_count %></td>
                <td class="text-center"><%= employee.last_sign_in_at %></td>
                <td class="text-center"><%= employee.created_at %></td>
                <td class="text-center"><%= employee.updated_at %></td>
                <td class="text-center"><%= employee.deleted_at %></td>
                <td class="text-center"><%= employee.admin %></td>

              </tr>

            <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a employee was created -->
  <div class="card-footer small text-muted">

       Updated: <%= @employee_last_date %>

  </div>

</div>

<!-- Add Employee Modal-->
<%= render partial: 'partials/modals/add-employee-modal' %>
