<div class="card mb-3">
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Employee Table

  </div>

  <div class="card-body">
    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>
            <tr>

              <th>Select</th>
              <th>ID</th>
              <th>Email</th>
              <th>Sign-in Count</th>
              <th>Last Sign-in</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Disabled</th>
              <th>Admin</th>

            </tr>
          </thead>

          <!-- Bottom Column Names -->
          <tfoot>
            <tr>

              <th>Select</th>
              <th>ID</th>
              <th>Email</th>
              <th>Sign-in Count</th>
              <th>Last Sign-in</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Disabled</th>
              <th>Admin</th>

            </tr>
          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load employee data -->
            <% @employee.each do |employee| %>
              <tr>

                <!-- Columns to pull from employee data -->
                <td>
                  <% if !employee.deleted_at %>
                    <%= button_to 'Disable', toggle_employee_path(employee.id), :method => :put, :class => 'btn btn-danger', :data => { :confirm => "Are you that you want to disable " + employee.email + "?" } %></td>
                  <% else %>
                    <%= button_to 'Enable', toggle_employee_path(employee.id), :method => :put, :class => 'btn btn-success', :data => { :confirm => "Are you that you want to enable " + employee.email + "?" } %></td>
                  <% end %>
                <td><%= employee.id %></td>
                <td><%= employee.email %></td>
                <td><%= employee.sign_in_count %></td>
                <td><%= employee.last_sign_in_at %></td>
                <td><%= employee.created_at %></td>
                <td><%= employee.updated_at %></td>
                <td><%= employee.deleted_at %></td>
                <td><%= employee.admin %></td>

              </tr>
            <% end %>

          </tbody>

        </table>

    </div>
  </div>

  <!-- Footnote: Lastest date a employee was created -->
  <div class="card-footer small text-muted">Updated: <%= @employee_last_date %></div>

</div>
