<div class="card mb-3">
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Employee Table

  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <!-- Top Column Names -->
        <thead>
          <tr>

            <th>Email</th>
            <th>Sign-in Count</th>
            <th>Last Sign-in</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Admin</th>

          </tr>
        </thead>

        <!-- Bottom Column Names -->
        <tfoot>
          <tr>

            <th>Email</th>
            <th>Sign-in Count</th>
            <th>Last Sign-in</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Admin</th>

          </tr>
        </tfoot>

        <!-- Content -->
        <tbody>

          <!-- Load employee data -->
          <% @employee_data.each do |employee_data| %>
            <tr>

              <!-- Columns to pull from employee data -->
              <td><%= employee_data.email %></td>
              <td><%= employee_data.sign_in_count %></td>
              <td><%= employee_data.last_sign_in_at %></td>
              <td><%= employee_data.created_at %></td>
              <td><%= employee_data.updated_at %></td>
              <td><%= employee_data.admin %></td>

            </tr>
          <% end %>

        </tbody>

      </table>
    </div>
  </div>

  <!-- Footnote: Lastest date a employee was created -->
  <div class="card-footer small text-muted">Updated: <%= @employee_last_date %></div>

</div>
