<!--toggle buttons-->

<section class="row">

  <div class="mb-2 mx-auto btn-group">

    <a class="show-all-col btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Show All Columns</a>

    <a class="hide-all-col btn btn-primary btn-sm"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       href="">Hide All Columns</a>

  </div>

</section>

<section class="row">

  <div class="mb-2 px-4 mx-auto">

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="0"
       href="">Toggle</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="1"
       href="">Admin</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="2"
       href="">Employee Status</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="3"
       href="">Admin Status</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="4"
       href="">ID</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="5"
       href="">First</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="6"
       href="">Last</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="7"
       href="">Email</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="8"
       href="">Phone</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="9"
       href="">Sign-in Count</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="10"
       href="">Last Sign-in</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="11"
       href="">Created</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="12"
       href="">Updated</a>

    <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
       type="button"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off"
       data-column="13"
       href="">Disabled</a>

  </div>

</section>

<!-- Table Card -->
<div class="card mb-3">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Employee Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <!-- Add Employee Button -->
        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-employee-modal">
                Add New Employee
        </button>

      </div>

  </div>

  <!-- Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">

        <!-- Employee Table -->
        <table class="table table-bordered table-hover table-striped" id="employeetable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">Admin</th>
              <th class="text-center">Employee Status</th>
              <th class="text-center">Admin Status</th>
              <th class="text-center">ID</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Sign-in Count</th>
              <th class="text-center">Last Sign-in</th>
              <th class="text-center">Created</th>
              <th class="text-center">Updated</th>
              <th class="text-center">Disabled</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">Admin</th>
              <th class="text-center">Employee Status</th>
              <th class="text-center">Admin Status</th>
              <th class="text-center">ID</th>
              <th class="text-center">First</th>
              <th class="text-center">Last</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Sign-in Count</th>
              <th class="text-center">Last Sign-in</th>
              <th class="text-center">Created</th>
              <th class="text-center">Updated</th>
              <th class="text-center">Disabled</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load employee data -->
            <% @employees.each do |employee| %>

              <tr>

                <!-- Columns to pull from employee data -->
                <td class="text-center">
                  <!-- Disable the disable button for current employee, disable button -->
                  <% if current_employee == employee %>

                      <button class="btn btn-outline-dark btn-sm"
                              disabled>
                              Current
                      </button>

                  <% else %>

                    <% if !employee.deleted_at%>

                      <%= button_to 'Disable',
                          toggle_employee_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-danger btn-sm',
                          :data => {
                            :confirm => "Are you sure that you want to disable " +
                                         employee.email + "?" } %></td>

                    <% else %>

                      <%= button_to 'Enable',
                          toggle_employee_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-success btn-sm',
                          :data => {
                            :confirm => "Are you sure that you want to enable " +
                                         employee.email + "?" } %></td>

                    <% end %>

                  <% end %>
                <td class="text-center">
                  <% if current_employee == employee %>

                      <button class="btn btn-outline-dark btn-sm"
                              disabled>
                              Admin
                      </button>

                  <% else %>

                    <% if !employee.admin%>

                      <%= button_to 'Assign',
                          toggle_admin_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-success btn-sm',
                          :data => {
                            :confirm => "Are you sure that you want to disable admin for " +
                                         employee.email + "?" } %></td>

                    <% else %>

                      <%= button_to 'Unassign',
                          toggle_admin_path(employee.id),
                          :method => :put,
                          :class => 'btn btn-outline-primary btn-sm',
                          :data => {
                            :confirm => "Are you sure that you want to enable admin for " +
                                         employee.email + "?" } %></td>

                    <% end %>

                  <% end %>
                </td>
                <td class="text-center"><%= employee.employee_status.employee_status_type %></td>
                <td class="text-center"><%= employee.admin %></td>
                <td class="text-center"><%= employee.id %></td>
                <td class="text-center"><%= employee.fname %></td>
                <td class="text-center"><%= employee.lname %></td>
                <td class="text-center"><%= employee.email %></td>
                <td class="text-center"><%= employee.phone %></td>
                <td class="text-center"><%= employee.sign_in_count %></td>
                <td class="text-center"><%= employee.last_sign_in_at %></td>
                <td class="text-center"><%= employee.created_at %></td>
                <td class="text-center"><%= employee.updated_at %></td>
                <td class="text-center"><%= employee.deleted_at %></td>


              </tr>

            <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a employee was created -->
  <div class="card-footer small text-muted">

       Updated: <%= @employee_last_date %>

  </div>

</div>

<!-- Add Employee Modal-->
<%= render partial: 'partials/modals/add-employee-modal' %>

<script>
    $(document).ready(function() {
        var table = $('#employeetable').DataTable( {
           stateSave: true,
           "paging": true
        } );

        $('a.toggle-vis').on( 'click', function (e) {

            // Get the column API object
            var column = table.column( $(this).attr('data-column') );

            // Toggle the visibility
            column.visible( ! column.visible() );
        } );

        $('a.show-all-col').on( 'click', function (e) {

            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 ] ).visible( true, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );

        $('a.hide-all-col').on( 'click', function (e) {

            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 ] ).visible( false, false );
            table.columns.adjust().draw( false ); // adjust column sizing and redraw

        } );

    } );
</script>
