<div class="card mb-3">

  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Order Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-order-modal">
                Add New Order
        </button>

      </div>

  </div>

  <div class="card-body">

    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">Company</th>
              <th class="text-center">Customer</th>
              <th class="text-center">Employee</th>
              <th class="text-center">Status</th>
              <th class="text-center">Ordered</th>
              <th class="text-center">Order Line</th>
              <th class="text-center">Payment Type</th>
              <th class="text-center">Purchase Order No.</th>
              <th class="text-center">Total</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">Company</th>
              <th class="text-center">Customer</th>
              <th class="text-center">Employee</th>
              <th class="text-center">Status</th>
              <th class="text-center">Ordered</th>
              <th class="text-center">Order Line</th>
              <th class="text-center">Payment Type</th>
              <th class="text-center">Purchase Order No.</th>
              <th class="text-center">Total</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load order data -->
              <% @orders.each do |order| %>

                <% if !order.deleted_at %>

                  <tr>

                    <!-- Columns to pull from order data -->
                    <td class="text-center">
                      <%= button_to 'Disable',
                          toggle_order_path(order.id),
                          :method => :put,
                          :class => 'btn btn-outline-danger',
                          :data => {
                            :confirm => "Are you sure that you want to disable the order #" +
                                         order.purchase_order_number.to_s + "?" } %></td>
                    <td class="text-center">
                      <%= button_to 'Edit',
                          edit_order_path(order.id),
                          :method => :get,
                          :class => 'btn btn-outline-success' %></td>
                    <td class="text-center"><%= order.vendor.vendor_name %></td>
                    <td class="text-center"><%= order.customer.company_name %></td>
                    <td class="text-center"><%= order.customer.customer_last_name %></td>
                    <td class="text-center"><%= order.employee.lname %></td>
                    <td class="text-center"><%= order.order_status.order_status_description %></td>
                    <td class="text-center"><%= order.order_date %></td>
                    <td class="text-center"><%= order.order_line.item_number %></td>
                    <td class="text-center"><%= order.payment_type.payment_type_description %></td>
                    <td class="text-center"><%= order.purchase_order_number %></td>
                    <td class="text-center"><%= order.order_total %></td>

                  </tr>

                <% end %>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a order was created -->
  <div class="card-footer small text-muted">



  </div>

</div>

<!-- Add Customer Modal-->
<%= render partial: 'partials/modals/add-order-modal' %>
