<!-- Table Card -->
<div class="card">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Product Table

  </div>

  <!-- Table Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">

        <table class="table table-bordered table-hover table-striped" id="producttable" width="100%" cellspacing="0">


          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Edit</th>
              <th class="text-center">Product Name</th>
              <th class="text-center">Price</th>
              <th class="text-center"><font color="gray">Discontinued Date</font></th>
              <th class="text-center"><font color="gray">Discontinue</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Edit</th>
              <th class="text-center">Product Name</th>
              <th class="text-center">Price</th>
              <th class="text-center"><font color="gray">Discontinued Date</font></th>
              <th class="text-center"><font color="gray">Discontinue</font></th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load order data -->
              <% @products.each do |product| %>

                  <tr>

                    <!-- Columns to pull from order data -->

                    <!-- Edit Button -->
                    <td class="text-center">
                      <%= button_to 'Edit',
                          edit_product_path(product.id),
                          :method => :get,
                          :class => 'btn btn-outline-success btn-sm' %></td>
                    <td class="text-center"><%= best_in_place product, :product_name %></td>
                    <td class="text-center"><%= best_in_place product, :price %></td>
                    <td class="text-center"><%= product.deleted_at %></td>

                    <!-- Disable Button -->
                    <td class="text-center">
                      <% if !product.deleted_at %>
                        <%= button_to 'Discontinue',
                            toggle_product_status_path(product.id),
                            :method => :put,
                            :class => 'btn btn-outline-danger btn-sm',
                            :data => {
                              :confirm => "Are you sure that you want to discontinue " +
                                           product.product_name + "?" } %></td>
                      <% else %>
                        <%= button_to 'Activate',
                            toggle_product_status_path(product.id),
                            :method => :put,
                            :class => 'btn btn-outline-success btn-sm',
                            :data => {
                              :confirm => "Are you sure that you want to enable " +
                                           product.product_name + "?" } %></td>
                      <% end %>

                  </tr>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a order was created -->
  <div class="card-footer small text-muted">

  </div>

</div>

<script>
    $(document).ready(function(e) {
        var table = $('#producttable').DataTable( {
            paging: true,
            "order": [[ 0, 'asc' ]]
        } );

        jQuery(".best_in_place").best_in_place();

    } );
</script>


<!-- Edit Product Modal -->
<%= render partial: 'partials/modals/edit-product-modal' %>
