<!--toggle buttons-->
<div id="accordian">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card Header -->
    <div class="card-header text-center" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Column Controls
        </button>
      </div>

      <!-- Content -->
      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">

        <!-- Content Body -->
        <div class="card-body">

          <!-- Row 1 -->
          <section class="row">

            <!-- Group column controls -->
            <div class="mb-2 mx-auto btn-group">

              <a class="show-all-col btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Show All Columns</a>

              <a class="hide-all-col btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Hide All Columns</a>


            </div>

          </section>

          <!-- Row 2 -->
          <section class="row">

            <!-- Individual column controls -->
            <div class="mb-2 px-4 mx-auto">

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="0"
                 href="">Toggle</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="1"
                 href="">PO No.</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="2"
                 href="">Company</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="3"
                 href="">Vendor</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="4"
                 href="">Status</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="5"
                 href="">Shipped</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="6"
                 href="">Shipper</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="7"
                 href="">Shipping No.</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="8"
                 href="">Country</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="9"
                 href="">State</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="10"
                 href="">Addr. 1</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="11"
                 href="">Addr. 2</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="12"
                 href="">City</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="13"
                 href="">Zip</a>

            </div>

          </section>

        </div>
      </div>
    </div>
  </div>

<!-- Table Card -->

<div class="card mb-3">

  <!-- Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Shipping Table

  </div>

  <!-- Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">


        <table class="table table-bordered table-hover table-striped" id="shippingtable" width="100%" cellspacing="0">


          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">PO No.</th>
              <th class="text-center">Company (To)</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">Status</th>
              <th class="text-center">Shipped</th>
              <th class="text-center">Shipper</th>
              <th class="text-center">Shipping No.</th>
              <th class="text-center">Country</th>
              <th class="text-center">State</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">Toggle</th>
              <th class="text-center">PO No.</th>
              <th class="text-center">Company (To)</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">Status</th>
              <th class="text-center">Shipped</th>
              <th class="text-center">Shipper</th>
              <th class="text-center">Shipping No.</th>
              <th class="text-center">Country</th>
              <th class="text-center">State</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load order data -->
              <% @orders.each do |order| %>

                <% if !order.deleted_at %>

                  <tr>

                    <!-- Columns to pull from order data -->
                    <td class="text-center">
                      <!-- Change Status Button -->
                      <% if order.order_status_id == 2 %>
                        <%= button_to 'Unmark for Shipment',
                            toggle_order_status_path(order.id),
                            :method => :put,
                            :class => 'btn btn-outline-danger btn-sm' %></td>
                      <% else %>
                        <%= button_to 'Mark for Shipment',
                            toggle_order_status_path(order.id),
                            :method => :put,
                            :class => 'btn btn-outline-primary btn-sm' %></td>
                      <% end %>
                    <td class="text-left-align"><%= order.purchase_order_number %></td>
                    <td class="text-left-align"><%= order.customer.company_name %></td>
                    <td class="text-left-align"><%= order.vendor.vendor_name %></td>
                    <td class="text-center"><%= order.order_status.order_status_description %></td>
                    <td class="text-left-align"><%= order.ship_date %></td>
                    <td class="text-left-align"><%= order.shipper.shipper_description %></td>
                    <td class="text-left-align"><%= order.shipping_number %></td>
                    <td class="text-left-align"><%= order.country.country_name %></td>
                    <td class="text-left-align"><%= order.state.state_name %></td>
                    <td class="text-left-align"><%= order.street_address_1 %></td>
                    <td class="text-left-align"><%= order.street_address_2 %></td>
                    <td class="text-left-align"><%= order.city %></td>
                    <td class="text-left-align"><%= order.zip_code %></td>

                  </tr>

                <% end %>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote -->
  <div class="card-footer small text-muted">

  </div>

</div>

<script>
    $(document).ready(function() {
        var table = $('#shippingtable').DataTable( {
            paging: true,
            "order": [[ 5, 'desc' ]]
        } );

        // Set all buttons as active on page load
        $('a.toggle-vis').addClass('active')

        // On click hide column
        $('a.toggle-vis').on( 'click', function (e) {

            // Get the column API object
            var column = table.column( $(this).attr('data-column') );

            // Toggle the visibility
            column.visible( ! column.visible() );
        } );

        // Show all columns
        $('a.show-all-col').on( 'click', function (e) {

            // Set all columns to visible
            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] ).visible( true, false );

            // adjust column sizing and redraw
            table.columns.adjust().draw( false );

            // Remove inactive class from individual column buttons
            $('a.toggle-vis').removeClass('inactive')

            // Add active class to individual column buttons
            $('a.toggle-vis').addClass('active')

        } );

        // Hide all columns
        $('a.hide-all-col').on( 'click', function (e) {

            // Set all columns to not visible
            table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] ).visible( false, false );

            // adjust column sizing and redraw
            table.columns.adjust().draw( false );

            // Remove active class from individual column buttons
            $('a.toggle-vis').removeClass('active')

            // Add inactive class to individual column buttons
            $('a.toggle-vis').addClass('inactive')

        } );

    } );
</script>
