<!--toggle buttons-->
<div id="accordian">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card Header -->
    <div class="card-header text-center" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Column Controls
        </button>
      </div>

      <!-- Content -->
      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">

        <!-- Content Body -->
        <div class="card-body">

          <!-- Row 1 -->
          <section class="row">

            <!-- Group column controls -->
            <div class="mb-2 mx-auto btn-group">

              <a class="show-all-col btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Show All Columns</a>

              <a class="hide-all-col btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Hide All Columns</a>

              <a class="show-contact btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Only Show Vendor Contact Info</a>

              <a class="show-info btn btn-primary btn-sm"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 href="">Only Show Vendor Info</a>

            </div>

          </section>

          <!-- Row 2 -->
          <section class="row">

            <!-- Individual column controls -->
            <div class="mb-2 px-4 mx-auto">

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="0"
                 href="">New Order</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="1"
                 href="">Disable</a>

              <a class="toggle-vis btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="2"
                 href="">Edit</a>

              <a class="toggle-vis vendor-contact vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="3"
                 href="">Vendor</a>

              <a class="toggle-vis vendor-contact vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="4"
                 href="">State</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="5"
                 href="">Status</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="6"
                 href="">Contact</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="7"
                 href="">Job</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="8"
                 href="">Work</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="9"
                 href="">Mobile</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="10"
                 href="">Fax</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="11"
                 href="">Email</a>

              <a class="toggle-vis vendor-contact btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="12"
                 href="">CC Email</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="13"
                 href="">Website</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="14"
                 href="">Address 1</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="15"
                 href="">Address 2</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="16"
                 href="">City</a>

              <a class="toggle-vis vendor-info btn btn-outline-primary btn-sm mb-1"
                 type="button"
                 data-toggle="button"
                 aria-pressed="false"
                 autocomplete="off"
                 data-column="17"
                 href="">Zip</a>

            </div>

          </section>

        </div>
      </div>
    </div>
  </div>

<!-- Vendor Table Card -->
<div class="card mb-3">

  <!-- Table Card Header -->
  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Vendor Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <!-- Add Vendor Button -->
        <%= button_to 'Create New Vendor',
            new_vendor_path,
            :method => :get,
            :class => 'btn btn-outline-primary' %>

      </div>

  </div>

  <!-- Table Card Body -->
  <div class="card-body">

    <!-- Table Type -->
    <div class="table-responsive">

        <!-- Vendor Table -->
        <table class="table table-bordered table-hover table-striped" id="vendortable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th class="text-center">New Order</th>
              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">State</th>
              <th class="text-center">Status</th>
              <th class="text-center">Contact</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th class="text-center">New Order</th>
              <th class="text-center">Disable</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Vendor</th>
              <th class="text-center">State</th>
              <th class="text-center">Status</th>
              <th class="text-center">Contact</th>
              <th class="text-center">Job</th>
              <th class="text-center">Work</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Fax</th>
              <th class="text-center">Email</th>
              <th class="text-center">CC Email</th>
              <th class="text-center">Website</th>
              <th class="text-center">Addr. 1</th>
              <th class="text-center">Addr. 2</th>
              <th class="text-center">City</th>
              <th class="text-center">Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load vendor data -->
              <% @vendors.each do |vendor| %>

                  <tr>

                    <!-- New Order Button -->
                    <td class="text-center">
                      <% if !vendor.deleted_at %>
                        <%= link_to "<button class='btn btn-outline-primary btn-sm'>New Order</button>".html_safe,
                        { :controller => "orders",
                          :action => "new",
                          :vendor_id => vendor.id,
                          :origin => "vendor"} %>
                      <% else %>
                        <button class='btn btn-outline-primary btn-sm disabled'>New Order</button>
                      <% end %>
                    </td>

                    <td class="text-center">
                      <!-- Disable Button -->
                      <% if !vendor.deleted_at %>

                        <%= button_to 'Disable',
                            toggle_vendor_path(vendor.id),
                            :method => :put,
                            :class => 'btn btn-outline-danger btn-sm',
                            :data => {
                              :confirm => "Are you sure that you want to disable the vendor " +
                                           vendor.vendor_name + "?" } %></td>

                      <% else %>

                        <%= button_to 'Enable',
                            toggle_vendor_path(vendor.id),
                            :method => :put,
                            :class => 'btn btn-outline-success btn-sm',
                            :data => {
                              :confirm => "Are you sure that you want to enable the vendor " +
                                           vendor.vendor_name + "?" } %></td>

                      <% end %>
                    <td class="text-center">
                      <!-- Edit Button -->
                      <%= button_to 'Edit',
                          edit_vendor_path(vendor.id),
                          :method => :get,
                          :class => 'btn btn-outline-success btn-sm' %></td>
                    <td class="text-left-align"><%= vendor.:vendor_name %></td>
                    <td class="text-left-align"><%= vendor.state.state_name %></td>
                    <td class="text-left-align"><%= vendor.vendor_status.vendor_status_type %></td>
                    <td class="text-left-align"><%= vendor.contact_name %></td>
                    <td class="text-left-align"><%= vendor.job_title %></td>
                    <td class="text-left-align"><%= vendor.work_phone %></td>
                    <td class="text-left-align"><%= vendor.mobile %></td>
                    <td class="text-left-align"><%= vendor.fax %></td>
                    <td class="text-left-align"><%= vendor.vendor_email %></td>
                    <td class="text-left-align"><%= vendor.vendor_cc_email %></td>
                    <td class="text-left-align"><%= vendor.website %></td>
                    <td class="text-left-align"><%= vendor.street_address_1 %></td>
                    <td class="text-left-align"><%= vendor.street_address_2 %></td>
                    <td class="text-left-align"><%= vendor.city %></td>
                    <td class="text-left-align"><%= vendor.zip_code %></td>

                  </tr>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote -->
  <div class="card-footer small text-muted">

  </div>

</div>

<script>

  $(document).ready(function() {

      // Declare table
      var table = $('#vendortable').DataTable( {
          "paging": true,
          "order": [[ 3, 'asc' ]]
      } );

      jQuery(".best_in_place").best_in_place();

      // Set all buttons as active on page load
      $('a.toggle-vis').addClass('active')

      // On click hide column
      $('a.toggle-vis').on( 'click', function (e) {

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );

      } );

      // Show all columns
      $('a.show-all-col').on( 'click', function (e) {

        // Set all columns to visible
        table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );

        // adjust column sizing and redraw
        table.columns.adjust().draw( false );

        // Remove inactive class from individual column buttons
        $('a.toggle-vis').removeClass('inactive')

        // Add active class to individual column buttons
        $('a.toggle-vis').addClass('active')

      } );

      // Hide all columns
      $('a.hide-all-col').on( 'click', function (e) {

        // Set all columns to not visible
        table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( false, false );

        // adjust column sizing and redraw
        table.columns.adjust().draw( false );

        // Remove active class from individual column buttons
        $('a.toggle-vis').removeClass('active')

        // Add inactive class to individual column buttons
        $('a.toggle-vis').addClass('inactive')

      } );

      // Show only vendor contact info
      $('a.show-contact').on( 'click', function (e) {

        // Set all columns to visible
        table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );

        // Set columns that are not vendor contact info to not visible
        table.columns( [ 0, 1, 2, 5, 13, 14, 15, 16, 17 ] ).visible( false, false );

        // adjust column sizing and redraw
        table.columns.adjust().draw( false );

        // Remove active class from individual column buttons
        $('a.toggle-vis').removeClass('active')

        // Add active class to vendor contact buttons
        $('a.vendor-contact').addClass('active')

      } );

      // Show only vendor info
      $('a.show-info').on( 'click', function (e) {

        // Set all columns to visible
        table.columns( [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ] ).visible( true, false );

        // Set columns that are not vendor info to not visible
        table.columns( [ 0, 1, 2, 6, 7, 8, 9, 10, 11, 12 ] ).visible( false, false );

        // adjust column sizing and redraw
        table.columns.adjust().draw( false );

        // Remove active class from individual column buttons
        $('a.toggle-vis').removeClass('active')

        // Add active class to vendor info buttons
        $('a.vendor-info').addClass('active')

      } );
  } );

</script>
