<div class="card mb-3">

  <div class="card-header">

      <!-- Table Icon -->
      <i class="fa fa-table"></i>

      <!-- Table Name -->
      Vendor Table

      <!-- Add, Remove, Update Buttons -->
      <div class="btn-right">

        <button class="btn btn-outline-primary"
                type="button"
                data-toggle="modal"
                data-target="#add-employee-modal">
                Add New Vendor
        </button>

      </div>

  </div>

  <div class="card-body">

    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <!-- Top Column Names -->
          <thead>

            <tr>

              <th>State</th>
              <th>Status</th>
              <th>Vendor</th>
              <th>Contact</th>
              <th>Job</th>
              <th>Work</th>
              <th>Mobile</th>
              <th>Fax</th>
              <th>Email</th>
              <th>CC Email</th>
              <th>Website</th>
              <th>Addr. 1</th>
              <th>Addr. 2</th>
              <th>City</th>
              <th>Zip</th>

            </tr>

          </thead>

          <!-- Bottom Column Names -->
          <tfoot>

            <tr>

              <th>State</th>
              <th>Status</th>
              <th>Vendor</th>
              <th>Contact</th>
              <th>Job</th>
              <th>Work</th>
              <th>Mobile</th>
              <th>Fax</th>
              <th>Email</th>
              <th>CC Email</th>
              <th>Website</th>
              <th>Addr. 1</th>
              <th>Addr. 2</th>
              <th>City</th>
              <th>Zip</th>

            </tr>

          </tfoot>

          <!-- Content -->
          <tbody>

            <!-- Load vendor data -->
              <% @vendors.each do |vendor| %>

                <tr>

                  <!-- Columns to pull from vendor data -->
                  <td><%= vendor.state.state_name %></td>
                  <td><%= vendor.vendor_status.vendor_status_type %></td>
                  <td><%= vendor.vendor_name %></td>
                  <td><%= vendor.contact_name %></td>
                  <td><%= vendor.job_title %></td>
                  <td><%= vendor.work_phone %></td>
                  <td><%= vendor.mobile %></td>
                  <td><%= vendor.fax %></td>
                  <td><%= vendor.vendor_email %></td>
                  <td><%= vendor.vendor_cc_email %></td>
                  <td><%= vendor.website %></td>
                  <td><%= vendor.street_address_1 %></td>
                  <td><%= vendor.street_address_2 %></td>
                  <td><%= vendor.city %></td>
                  <td><%= vendor.zip_code %></td>

                </tr>

              <% end %>

          </tbody>

        </table>

    </div>

  </div>

  <!-- Footnote: Lastest date a employee was created -->
  <div class="card-footer small text-muted">



  </div>



</div>
