<!-- Add Customer Modal-->
<div class="modal fade"
     id="add-customer-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

  <div class="modal-dialog"
       role="document">

    <div class="modal-content">

      <!-- Modal Title Bar -->
      <div class="modal-header">

        <h5 class="modal-title"
            id="exampleModalLabel">
            Add New Customer</h5>

        <button class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close">

          <span aria-hidden="true">
                ×</span>

        </button>

      </div>

      <!-- Modal Body -->
      <div class="modal-body">

        <!-- New Customer Table-->
        <%= form_for(@customer, local: true) do |form| %>

            <% flash[:error] = @customer.errors.full_messages.to_sentence %>

          <div class="field">
            <%= form.label :state_id %>
            <%= form.collection_select :state_id, State.all, :id, :state_name %>
          </div>

          <div class="field">
            <%= form.label :company_name %>
            <%= form.text_field :company_name, id: :customer_company_name %>
          </div>

          <div class="field">
            <%= form.label :customer_first_name %>
            <%= form.text_field :customer_first_name, id: :customer_customer_first_name %>
          </div>

          <div class="field">
            <%= form.label :customer_last_name %>
            <%= form.text_field :customer_last_name, id: :customer_customer_last_name %>
          </div>

          <div class="field">
            <%= form.label :job_title %>
            <%= form.text_field :job_title, id: :customer_job_title %>
          </div>

          <div class="field">
            <%= form.label :work_phone %>
            <%= form.text_field :work_phone, id: :customer_work_phone %>
          </div>

          <div class="field">
            <%= form.label :mobile %>
            <%= form.text_field :mobile, id: :customer_mobile %>
          </div>

          <div class="field">
            <%= form.label :fax %>
            <%= form.text_field :fax, id: :customer_fax %>
          </div>

          <div class="field">
            <%= form.label :customer_email %>
            <%= form.text_field :customer_email, id: :customer_customer_email %>
          </div>

          <div class="field">
            <%= form.label :customer_cc_email %>
            <%= form.text_field :customer_cc_email, id: :customer_customer_cc_email %>
          </div>

          <div class="field">
            <%= form.label :website %>
            <%= form.text_field :website, id: :customer_website %>
          </div>

          <div class="field">
            <%= form.label :social_media_address %>
            <%= form.text_field :social_media_address, id: :customer_social_media_address %>
          </div>

          <div class="field">
            <%= form.label :street_address_1 %>
            <%= form.text_field :street_address_1, id: :customer_street_address_1 %>
          </div>

          <div class="field">
            <%= form.label :street_address_2 %>
            <%= form.text_field :street_address_2, id: :customer_street_address_2 %>
          </div>

          <div class="field">
            <%= form.label :city %>
            <%= form.text_field :city, id: :customer_city %>
          </div>

          <div class="field">
            <%= form.label :zip_code %>
            <%= form.text_field :zip_code, id: :customer_zip_code %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>

      </div>

    </div>

  </div>

</div>
