<!-- Edit Modal-->
<div class="modal fade"
     id="add-order-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

  <!-- Modal Dialog Window -->
  <div class="modal-dialog"
       role="document">

    <!-- Modal Content -->
    <div class="modal-content">

      <!-- Modal Title Bar -->
      <div class="modal-header">

        <!-- Title -->
        <h5 class="modal-title"
            id="exampleModalLabel">
            Add New Order</h5>

        <!-- Close X Button -->
        <button class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close">

          <span aria-hidden="true">
                ×</span>

        </button>

      </div>

      <!-- Modal Body -->
      <div class="modal-body">

        <!-- New Customer Table-->
        <%= form_for(@order, local: true) do |form| %>

          <% flash[:error] = @order.errors.full_messages.to_sentence %>

          <div class="field">
            <%= form.label :vendor_id %>
            <%= form.collection_select :vendor_id, Vendor.all, :id, :vendor_name %>
          </div>

          <div class="field">
            <%= form.label :order_status_id %>
            <%= form.collection_select :order_status_id, OrderStatus.all, :id, :order_status_description %>
          </div>

          <div class="field">
            <%= form.label 'Company' %>
            <%= form.collection_select :customer_id, Customer.all, :id, :company_name %>
          </div>

          <div class="field">
            <%= form.label :country_id %>
            <%= form.collection_select :country_id, Country.all, :id, :country_name %>
          </div>

          <div class="field">
            <%= form.label :employee_id %>
            <%= form.collection_select :employee_id, Employee.all, :id, :lname %>
          </div>

          <div class="field">
            <%= form.label :payment_type_id %>
            <%= form.collection_select :payment_type_id, PaymentType.all, :id, :payment_type_description %>
          </div>

          <div class="field">
            <%= form.label :shipper_id %>
            <%= form.collection_select :shipper_id, Shipper.all, :id, :shipper_description %>
          </div>

          <div class="field">
            <%= form.label :order_line_id %>
            <%= form.collection_select :order_line_id, OrderLine.all, :id, :item_number %>
          </div>

          <div class="field">
            <%= form.label :state_id %>
            <%= form.collection_select :state_id, State.all, :id, :state_name %>
          </div>

          <div class="field">
            <%= form.label :shipping_number %>
            <%= form.number_field :shipping_number, id: :order_shipping_number %>
          </div>

          <div class="field">
            <%= form.label :customer_name %>
            <%= form.collection_select :customer_id, Customer.all, :id, :customer_last_name %>
          </div>

          <div class="field">
            <%= form.label :purchase_order_number %>
            <%= form.number_field :purchase_order_number, id: :order_purchase_order_number %>
          </div>

          <div class="field">
            <%= form.label :order_date %>
            <%= form.datetime_select :order_date, id: :order_order_date %>
          </div>

          <div class="field">
            <%= form.label :ship_date %>
            <%= form.datetime_select :ship_date, id: :order_ship_date %>
          </div>

          <div class="field">
            <%= form.label :order_total %>
            <%= form.text_field :order_total, id: :order_order_total %>
          </div>

          <div class="field">
            <%= form.label :street_address_1 %>
            <%= form.text_field :street_address_1, id: :order_street_address_1 %>
          </div>

          <div class="field">
            <%= form.label :street_address_2 %>
            <%= form.text_field :street_address_2, id: :order_street_address_2 %>
          </div>

          <div class="field">
            <%= form.label :city %>
            <%= form.text_field :city, id: :order_city %>
          </div>

          <div class="field">
            <%= form.label :zip_code %>
            <%= form.text_field :zip_code, id: :order_zip_code %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
          
        <% end %>

      </div>

    </div>

  </div>

</div>
