<!-- Customer form card -->
<div class="card">
  <!-- Customer form card header -->
  <div class="card-header">
  </div>

  <!-- Customer form card content -->
  <div class="card-body">
    <!-- Customer entire form row -->
    <div class="row">
      <!-- Center customer form -->
      <div class="mx-auto">
        <!-- Customer form -->
        <%= form_with(model: customer, local: true) do |form| %>

          <!-- Error Banner -->
          <% if customer.errors.any? %>
            <div class="h5 strong text-center mark">
              <% customer.errors.full_messages.each do |message| %>
                * <%= message %> *
                <br />
              <% end %>
            </div>
          <% end %>

          <!-- Required Mark -->
          <div class="mb-3">
            <font color="red">*</font> = Required
          </div>

          <!-- Customer form fields row -->
          <div class="row">

            <!-- Left Column -->
            <div class="col-md-6">

              <!-- Customer first name -->
              <div class="field">
                <b><%= form.label :First_Name  %></b> <font color="red">*</font>
                <%= form.text_field :customer_first_name, :size => '15', required: true, placeholder: 'John', id: :customer_customer_first_name %>
              </div>

              <!-- Customer last name -->
              <div class="field mt-1">
                <b><%= form.label :Last_Name  %></b> <font color="red">*</font>
                <%= form.text_field :customer_last_name, :size => '15', required: true, placeholder: 'Smith', id: :customer_customer_last_name %>
              </div>

              <!-- Customer status -->
              <div class="field mt-4">
                <b><%= form.label :customer_status_id %></b> <font color="red">*</font>
                <%= form.collection_select :customer_status_id, CustomerStatus.all, :id, :customer_status_description, {prompt: true}, {required: true} %>
              </div>

              <!-- Customer email -->
              <div class="field mt-4">
                <b><%= form.label :Email  %></b> <font color="red">*</font>
                <%= form.text_field :customer_email, :size => '25', type: 'email', required: true, placeholder: 'email@provider.com', id: :customer_customer_email %>
              </div>

              <!-- Customer cc email -->
              <div class="field mt-1">
                <b><%= form.label :CC_email %></b>
                <%= form.text_field :customer_cc_email, :size => '25', type: 'email', placeholder: 'email@provider.com', id: :customer_customer_cc_email %>
              </div>

              <!-- Customer work phone -->
              <div class="field mt-1">
                <b><%= form.label :work_phone %></b> <font color="red">*</font>
                <%= form.text_field :work_phone, :size => '15', type: 'tel', Required: true, placeholder: '+1-123-123-1234', id: :customer_work_phone %>
              </div>

              <!-- Customer mobile -->
              <div class="field mt-1">
                <b><%= form.label :mobile %></b>
                <%= form.text_field :mobile, :size => '15', type: 'tel', placeholder: '+1-123-123-1234', id: :customer_mobile %>
              </div>

              <!-- Customer fax -->
              <div class="field mt-1">
                <b><%= form.label :fax %></b>
                <%= form.text_field :fax, :size => '15', placeholder: '+1-123-123-1234', id: :customer_fax %>
              </div>
            </div>

            <!-- Right column -->
            <div class="col-md-6">

              <!-- Customer company name -->
              <div class="field">
                <b><%= form.label :company_name %></b> <font color="red">*</font>
                <%= form.text_field :company_name, :size => '25', placeholder: 'Company Name', id: :customer_company_name, required: true %>
              </div>

              <!-- Customer website -->
              <div class="field mt-1">
                <b><%= form.label :website %></b>
                <%= form.text_field :website, :size => '30', placeholder: 'www.website.com', id: :customer_website %>
              </div>

              <!-- Customer job title -->
              <div class="field mt-1">
                <b><%= form.label :job_title %></b> <font color="red">*</font>
                <%= form.text_field :job_title, :size => '20', placeholder: 'Products Manager', id: :customer_job_title, required: true %>
              </div>

              <!-- Customer social media address -->
              <div class="field mt-1">
                <b><%= form.label :social_media_address %></b>
                <%= form.text_field :social_media_address, :size => '25', placeholder: 'www.website.com/user', id: :customer_social_media_address %>
              </div>

              <!-- Customer street address 1 -->
              <div class="field mt-4">
                <b><%= form.label :street_address_1 %></b> <font color="red">*</font>
                <%= form.text_field :street_address_1, :size => '30', Required: true, placeholder: '1234 Street Address Rd. Bldg. 12', id: :customer_street_address_1 %>
              </div>

              <!-- Customer street address 2 -->
              <div class="field mt-1">
                <b><%= form.label :street_address_2 %></b>
                <%= form.text_field :street_address_2, :size => '30', placeholder: '1234 Street Address Rd. Bldg. 12', id: :customer_street_address_2 %>
              </div>

              <!-- Customer state -->
              <div class="field mt-1">
                <b><%= form.label :state_id %></b> <font color="red">*</font>
                <%= form.collection_select :state_id, State.order(:state_name), :id, :state_name, {prompt: true}, {required: true} %>
              </div>

              <!-- Customer city -->
              <div class="field mt-1">
                <b><%= form.label :city %></b> <font color="red">*</font>
                <%= form.text_field :city, :size => '20', Required: true, placeholder: 'Houston', id: :customer_city %>
              </div>

              <!-- Customer zip code -->
              <div class="field mt-1">
                <b><%= form.label :zip_code %></b> <font color="red">*</font>
                <%= form.text_field :zip_code, :size => '10', required: true, placeholder: '77777-8888', id: :customer_zip_code %>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="actions">
            <%= form.submit :class => 'btn btn-primary btn-block btn-sm mt-4' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Customer form card footer -->
  <div class="card-footer">
  </div>
</div>
