<div class="row">
  <div class="mx-auto">
    <!-- Customer form -->
    <%= form_with(model: customer, local: true) do |form| %>

      <!-- Error Banner -->
      <% if customer.errors.any? %>
        <div class="h5 strong text-center mark">
          <% customer.errors.full_messages.each do |message| %>
            * <%= message %> *
            <br />
          <% end %>
        </div>
      <% end %>

      <!-- Required Mark -->
      <div class="mt-3 mb-3">
        * = Required
      </div>

      <!-- Row -->
      <div class="row">

        <!-- Left Column -->
        <div class="col-md-6">

          <div class="field">
            <%= form.label :First_Name  %> *
            <%= form.text_field :customer_first_name, :size => '15', required: true, placeholder: 'John', id: :customer_customer_first_name %>
          </div>

          <div class="field mt-1">
            <%= form.label :Last_Name  %> *
            <%= form.text_field :customer_last_name, :size => '15', required: true, placeholder: 'Smith', id: :customer_customer_last_name %>
          </div>

          <div class="field mt-4">
            <%= form.label :customer_status_id %> *
            <%= form.collection_select :customer_status_id, CustomerStatus.all, :id, :customer_status_description, {prompt: true}, {required: true} %>
          </div>

          <div class="field mt-4">
            <%= form.label :Email  %> *
            <%= form.text_field :customer_email, :size => '25', type: 'email', required: true, placeholder: 'email@provider.com', id: :customer_customer_email %>
          </div>

          <div class="field mt-1">
            <%= form.label :CC_email %>
            <%= form.text_field :customer_cc_email, :size => '25', type: 'email', placeholder: 'email@provider.com', id: :customer_customer_cc_email %>
          </div>

          <div class="field mt-1">
            <%= form.label :work_phone %> *
            <%= form.text_field :work_phone, :size => '15', type: 'tel', Required: true, placeholder: '+1-123-123-1234', id: :customer_work_phone %>
          </div>

          <div class="field mt-1">
            <%= form.label :mobile %>
            <%= form.text_field :mobile, :size => '15', type: 'tel', placeholder: '+1-123-123-1234', id: :customer_mobile %>
          </div>

          <div class="field mt-1">
            <%= form.label :fax %>
            <%= form.text_field :fax, :size => '15', placeholder: '+1-123-123-1234', id: :customer_fax %>
          </div>

        </div>

        <!-- Right column -->
        <div class="col-md-6">

          <div class="field">
            <%= form.label :company_name %> *
            <%= form.text_field :company_name, :size => '25', placeholder: 'Company Name', id: :customer_company_name, required: true %>
          </div>

          <div class="field mt-1">
            <%= form.label :website %>
            <%= form.text_field :website, :size => '30', placeholder: 'www.website.com', id: :customer_website %>
          </div>

          <div class="field mt-1">
            <%= form.label :job_title %> *
            <%= form.text_field :job_title, :size => '20', placeholder: 'Products Manager', id: :customer_job_title, required: true %>
          </div>

          <div class="field mt-1">
            <%= form.label :social_media_address %>
            <%= form.text_field :social_media_address, :size => '25', placeholder: 'www.website.com/user', id: :customer_social_media_address %>
          </div>

          <div class="field mt-4">
            <%= form.label :street_address_1 %> *
            <%= form.text_field :street_address_1, :size => '30', Required: true, placeholder: '1234 Street Address Rd. Bldg. 12', id: :customer_street_address_1 %>
          </div>

          <div class="field mt-1">
            <%= form.label :street_address_2 %>
            <%= form.text_field :street_address_2, :size => '30', placeholder: '1234 Street Address Rd. Bldg. 12', id: :customer_street_address_2 %>
          </div>

          <div class="field mt-1">
            <%= form.label :state_id %> *
            <%= form.collection_select :state_id, State.order(:state_name), :id, :state_name, {prompt: true}, {required: true} %>
          </div>

          <div class="field mt-1">
            <%= form.label :city %> *
            <%= form.text_field :city, :size => '20', Required: true, placeholder: 'Houston', id: :customer_city %>
          </div>

          <div class="field mt-1">
            <%= form.label :zip_code %> *
            <%= form.text_field :zip_code, :size => '10', required: true, placeholder: '77777-8888', id: :customer_zip_code %>
          </div>

        </div>

      </div>

      <!-- Submit -->
      <div class="actions">
        <%= form.submit :class => 'btn btn-primary btn-block btn-sm mt-4' %>
      </div>

    <% end %>

  </div>
</div>
