<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id, id: :customer_state_id %>
  </div>

  <div class="field">
    <%= form.label :CompanyName %>
    <%= form.text_field :CompanyName, id: :customer_CompanyName %>
  </div>

  <div class="field">
    <%= form.label :CustomerFirstName %>
    <%= form.text_field :CustomerFirstName, id: :customer_CustomerFirstName %>
  </div>

  <div class="field">
    <%= form.label :CustomerLastName %>
    <%= form.text_field :CustomerLastName, id: :customer_CustomerLastName %>
  </div>

  <div class="field">
    <%= form.label :JobTitle %>
    <%= form.text_field :JobTitle, id: :customer_JobTitle %>
  </div>

  <div class="field">
    <%= form.label :WorkPhone %>
    <%= form.text_field :WorkPhone, id: :customer_WorkPhone %>
  </div>

  <div class="field">
    <%= form.label :Mobile %>
    <%= form.text_field :Mobile, id: :customer_Mobile %>
  </div>

  <div class="field">
    <%= form.label :Fax %>
    <%= form.text_field :Fax, id: :customer_Fax %>
  </div>

  <div class="field">
    <%= form.label :CustomerEmail %>
    <%= form.text_field :CustomerEmail, id: :customer_CustomerEmail %>
  </div>

  <div class="field">
    <%= form.label :CCEmail %>
    <%= form.text_field :CCEmail, id: :customer_CCEmail %>
  </div>

  <div class="field">
    <%= form.label :Website %>
    <%= form.text_field :Website, id: :customer_Website %>
  </div>

  <div class="field">
    <%= form.label :SocialMediaAddress %>
    <%= form.text_field :SocialMediaAddress, id: :customer_SocialMediaAddress %>
  </div>

  <div class="field">
    <%= form.label :StreetAddress1 %>
    <%= form.text_field :StreetAddress1, id: :customer_StreetAddress1 %>
  </div>

  <div class="field">
    <%= form.label :StreetAddress2 %>
    <%= form.text_field :StreetAddress2, id: :customer_StreetAddress2 %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_field :City, id: :customer_City %>
  </div>

  <div class="field">
    <%= form.label :Zipcode %>
    <%= form.text_field :Zipcode, id: :customer_Zipcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
