<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @customer.CompanyName %>
</p>

<p>
  <strong>Customerfirstname:</strong>
  <%= @customer.CustomerFirstName %>
</p>

<p>
  <strong>Customerlastname:</strong>
  <%= @customer.CustomerLastName %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @customer.JobTitle %>
</p>

<p>
  <strong>Workphone:</strong>
  <%= @customer.WorkPhone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.Mobile %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.Fax %>
</p>

<p>
  <strong>Customeremail:</strong>
  <%= @customer.CustomerEmail %>
</p>

<p>
  <strong>Ccemail:</strong>
  <%= @customer.CCEmail %>
</p>

<p>
  <strong>Website:</strong>
  <%= @customer.Website %>
</p>

<p>
  <strong>Socialmediaaddress:</strong>
  <%= @customer.SocialMediaAddress %>
</p>

<p>
  <strong>Streetaddress1:</strong>
  <%= @customer.StreetAddress1 %>
</p>

<p>
  <strong>Streetaddress2:</strong>
  <%= @customer.StreetAddress2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.City %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.Zipcode %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
