<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.text_field :vendor_id, id: :order_vendor_id %>
  </div>

  <div class="field">
    <%= form.label :order_status_id %>
    <%= form.text_field :order_status_id, id: :order_order_status_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :order_customer_id %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.text_field :country_id, id: :order_country_id %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, id: :order_employee_id %>
  </div>

  <div class="field">
    <%= form.label :payment_type_id %>
    <%= form.text_field :payment_type_id, id: :order_payment_type_id %>
  </div>

  <div class="field">
    <%= form.label :ship_via_id %>
    <%= form.text_field :ship_via_id, id: :order_ship_via_id %>
  </div>

  <div class="field">
    <%= form.label :order_line_id %>
    <%= form.text_field :order_line_id, id: :order_order_line_id %>
  </div>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id, id: :order_state_id %>
  </div>

  <div class="field">
    <%= form.label :ShippingNumber %>
    <%= form.number_field :ShippingNumber, id: :order_ShippingNumber %>
  </div>

  <div class="field">
    <%= form.label :CustomerName %>
    <%= form.text_field :CustomerName, id: :order_CustomerName %>
  </div>

  <div class="field">
    <%= form.label :PurchaseOrderNumber %>
    <%= form.number_field :PurchaseOrderNumber, id: :order_PurchaseOrderNumber %>
  </div>

  <div class="field">
    <%= form.label :OrderDate %>
    <%= form.datetime_select :OrderDate, id: :order_OrderDate %>
  </div>

  <div class="field">
    <%= form.label :ShipOnDate %>
    <%= form.datetime_select :ShipOnDate, id: :order_ShipOnDate %>
  </div>

  <div class="field">
    <%= form.label :OrderTotal %>
    <%= form.text_field :OrderTotal, id: :order_OrderTotal %>
  </div>

  <div class="field">
    <%= form.label :StreetAddress1 %>
    <%= form.text_field :StreetAddress1, id: :order_StreetAddress1 %>
  </div>

  <div class="field">
    <%= form.label :StreetAddress2 %>
    <%= form.text_field :StreetAddress2, id: :order_StreetAddress2 %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_field :City, id: :order_City %>
  </div>

  <div class="field">
    <%= form.label :Zipcode %>
    <%= form.text_field :Zipcode, id: :order_Zipcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
