<%= form_with(model: order, local: true) do |form| %>

  <div class="mt-3 mb-3">
    * = Required
  </div>

  <div class="row">

    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-4">

      <div class="field">
        <%= form.label "Customer Name" %> *
        <%= form.collection_select :customer_id, Customer.all, :id, :formatted_name, { :selected => params['customer_id'] } %>
      </div>

      <div class="field">
        <%= form.label :employee_id %> *
        <%= form.collection_select(:employee_id, Employee.all, :id, :formatted_name, {prompt: true}, {required: true}) %>
      </div>

      <div class="field">
        <%= form.label :vendor_id %> *
        <%= form.collection_select(:vendor_id, Vendor.all, :id, :vendor_name, {prompt: true}, {required: true}) %>
      </div>

      <div class="field mt-5">
        <%= form.label :payment_type_id %> *
        <%= form.collection_select(:payment_type_id, PaymentType.all, :id, :payment_type_description, {prompt: true}, {required: true}) %>
      </div>

      <div class="field">
        <%= form.label :order_total %> * $
        <%= form.text_field :order_total, size: "8", placeholder: 'Format ( 123123.99 )', id: :order_order_total, required: true %>
      </div>

      <div class="field">
        <%= form.label :purchase_order_number %> *
        <%= form.number_field :purchase_order_number, value: rand(100000..1000000), placeholder: 'Format ( 123456 )', id: :order_purchase_order_number, required: true %>
      </div>

    </div>

    <div class="col-md-4">

      <div class="field">
        <%= form.label "Shipping Status" %> *
        <%= form.collection_select(:order_status_id, OrderStatus.all, :id, :order_status_description, {prompt: true}, {required: true}) %>
      </div>

      <div class="field">
        <%= form.label :shipping_number %>
        <%= form.number_field :shipping_number, value: rand(100000000000..1000000000000), :size => '8', placeholder: 'Format ( 1234567890)', id: :order_shipping_number %>
      </div>

      <div class="field">
        <%= form.label :shipper_id %>
        <%= form.collection_select(:shipper_id, Shipper.all, :id, :shipper_description, {prompt: true}, {}) %>
      </div>

      <div class="field">
        <%= form.label :ship_date %>
        <%= form.date_select :ship_date, id: :order_ship_date, prompt: true, start_year: 2018, selected: Date.today %>
      </div>

    </div>

    <div class="col-md-4">

      <div class="field">
        <%= form.label :street_address_1 %> *
        <%= form.text_field :street_address_1, value: params['street_address_1'], size: "25", placeholder: 'Format ( 123 Street Address Rd. Bldg. 12 )', id: :order_street_address_1, required: true %>
      </div>

      <div class="field mt-1">
        <%= form.label :street_address_2 %>
        <%= form.text_field :street_address_2, value: params['street_address_2'], placeholder: 'Format ( 123 Street Address Rd. Bldg. 12 )', size: "25", id: :order_street_address_2 %>
      </div>

      <div class="field mt-2">
        <%= form.label "Country" %> *
        <%= form.collection_select :country_id, Country.all, :id, :country_name, { required: true, :selected => params['country_id'] } %>
      </div>

      <div class="field mt-1">
        <%= form.label "State" %> *
        <%= form.collection_select :state_id, State.all, :id, :state_name, { required: true, :selected => params['state_id'] } %>
      </div>

      <div class="field mt-1">
        <%= form.label :city %> *
        <%= form.text_field :city, value: params['city'], size: "15", placeholder: 'Format ( Houston )', id: :order_city, required: true %>
      </div>

      <div class="field mt-1">
        <%= form.label :zip_code %> *
        <%= form.text_field :zip_code, value: params['zip_code'], size: "12", placeholder: 'Format ( 77777 or 77777-8888 )', id: :order_zip_code, required: true %>
      </div>

      <%= form.hidden_field :order_date, value: @order.order_date %>

    </div>

  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary btn-sm btn-block mt-4' %>
  </div>

<% end %>
