<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <!-- Order form -->
        <%= form_with(model: order, local: true) do |form| %>

          <!-- Error Banner -->
          <% if order.errors.any? %>
            <div class="h5 strong text-center mark">
              <% order.errors.full_messages.each do |message| %>
                * <%= message %> *
                <br />
              <% end %>
            </div>
          <% end %>

          <!-- Required Mark -->
          <div class="mb-3">
            <font color="red">*</font> = Required
          </div>

          <!-- Row -->
          <div class="row">

            <!-- Left Column -->
            <div class="col-md-6">

              <%= form.hidden_field :order_date, value: @order.order_date %>
              <%= form.hidden_field :country_id, value: 1 %>
              <%= form.hidden_field :state_id, value: 1 %>

              <div class="field">
                <b><%= form.label "Customer Name" %></b> <font color="red">*</font>
                <%= form.collection_select :customer_id, Customer.where("deleted_at is null").order(:customer_last_name), :id, :formatted_name, {prompt: true}, { required: true, :selected => @order.customer_id } %>
              </div>

              <div class="field mt-1">
                <b><%= form.label :employee_id %></b> <font color="red">*</font>
                <%= form.collection_select(:employee_id, Employee.where("deleted_at is null").order(:lname), :id, :formatted_name, {prompt: true}, { required: true, :selected => @order.vendor_id }) %>
              </div>

              <div class="field mt-1">
                <b><%= form.label :vendor_id %></b> <font color="red">*</font>
                <%= form.collection_select(:vendor_id, Vendor.where("deleted_at is null").order(:vendor_name), :id, :vendor_name, {prompt: true}, {required: true}) %>
              </div>

              <div class="field mt-5">
                <b><%= form.label :payment_type_id %></b> <font color="red">*</font>
                <%= form.collection_select(:payment_type_id, PaymentType.all, :id, :payment_type_description, {prompt: true}, {required: true}) %>
              </div>

            </div>



            <!-- Middle Column -->
            <div class="col-md-6">

              <div class="field">
                <b><%= form.label "Shipping Status" %></b> <font color="red">*</font>
                <%= form.collection_select(:order_status_id, OrderStatus.all, :id, :order_status_description, {prompt: true}, {required: true}) %>
              </div>

              <div class="field mt-1">
                <b><%= form.label :shipping_number %></b>
                <%= form.number_field :shipping_number, :size => '10', placeholder: '123456789012345', id: :order_shipping_number %>
              </div>

              <div class="field mt-1">
                <b><%= form.label :shipper_id %></b>
                <%= form.collection_select(:shipper_id, Shipper.all, :id, :shipper_description, {prompt: true}, {:selected => @order.shipper_id}) %>
              </div>

              <div class="field mt-1">
                <b><%= form.label :ship_date %></b>
                <%= form.date_select :ship_date, id: :order_ship_date, prompt: true, start_year: 2000 %>
              </div>

            </div>

          </div>

          <table class='table mt-4'>
            <thead>
              <tr>
                <th>Remove</th>
                <th>Product Name</th>
                <th>Price</th>

              </tr>
            </thead>
            <tbody class="fields">
              <%= form.fields_for :order_lines do |order_line_form| %>
                <%= render 'order_line', form: order_line_form %>
              <% end %>
            </div>
          </table>
          <%= link_to_add_row('Add New Product', form, :order_lines, class: 'btn btn-sm btn-outline-primary ml-2') %>

          <!-- Submit -->
          <div class="actions">
            <%= form.submit :class => 'btn btn-primary btn-sm btn-block mt-4' %>
          </div>

        <% end %>



      </div>
    </div>

  </div>
  <div class="card-footer">

  </div>
</div>
