<!-- Order form -->
<%= form_with(model: order, local: true) do |form| %>

<!-- Error Banner -->
<% if order.errors.any? %>
  <div class="h5 strong text-center mark">
    <% order.errors.full_messages.each do |message| %>
      *
      <%= message %>
      *
      <br/>
    <% end %>
  </div>
<% end %>

<!-- Required Mark -->
<div class="mt-3 mb-3">
  * = Required
</div>

<!-- Row -->
<div class="row">

  <!-- Left Column -->
  <div class="col-md-4">

    <div class="field">
      <%= form.label "Customer Name" %>
      *
      <%= form.collection_select :customer_id, Customer.all, :id, :formatted_name, {prompt: true}, { required: true, :selected => @order.customer_id } %>
    </div>

    <div class="field mt-2">
      <%= form.label :employee_id %>
      *
      <%= form.collection_select(:employee_id, Employee.all, :id, :formatted_name, {prompt: true}, { required: true, :selected => @order.vendor_id }) %>
    </div>

    <div class="field mt-2">
      <%= form.label :vendor_id %>
      *
      <%= form.collection_select(:vendor_id, Vendor.all, :id, :vendor_name, {prompt: true}, {required: true}) %>
    </div>

    <div class="field mt-5">
      <%= form.label :payment_type_id %>
      *
      <%= form.collection_select(:payment_type_id, PaymentType.all, :id, :payment_type_description, {prompt: true}, {required: true}) %>
    </div>

    <div class="field mt-2">
      <%= form.label :order_total %>
      *
      <%= form.text_field :order_total, :value => number_to_currency(order.order_total), size: "10", placeholder: '123456.99', id: :order_order_total, required: true %>
    </div>

    <div class="field mt-2">
      <%= form.label :purchase_order_number %>
      *
      <%= form.number_field :purchase_order_number, value: rand(100000..1000000), placeholder: '123456', id: :order_purchase_order_number, required: true %>
    </div>

  </div>

  <!-- Middle Column -->
  <div class="col-md-4">

    <div class="field">
      <%= form.label "Shipping Status" %>
      *
      <%= form.collection_select(:order_status_id, OrderStatus.all, :id, :order_status_description, {prompt: true}, {required: true}) %>
    </div>

    <div class="field mt-3">
      <%= form.label :shipping_number %>
      <%= form.number_field :shipping_number, :size => '10', placeholder: '123456789012345', id: :order_shipping_number %>
    </div>

    <div class="field mt-3">
      <%= form.label :shipper_id %>
      <%= form.collection_select(:shipper_id, Shipper.all, :id, :shipper_description, {prompt: true}, {:selected => @order.shipper_id}) %>
    </div>

    <div class="field mt-3">
      <%= form.label :ship_date %>
      <%= form.date_select :ship_date, id: :order_ship_date, prompt: true, start_year: 2000 %>
    </div>

  </div>

  <!-- Right Column -->
  <div class="col-md-4">

    <div class="field">
      <%= form.label :street_address_1 %>
      *
      <%= form.text_field :street_address_1, size: "25", placeholder: '123 Street Address Rd. Bldg. 12', id: :order_street_address_1, required: true %>
    </div>

    <div class="field mt-2">
      <%= form.label :street_address_2 %>
      <%= form.text_field :street_address_2, placeholder: '123 Street Address Rd. Bldg. 12', size: "25", id: :order_street_address_2 %>
    </div>

    <div class="field mt-2">
      <%= form.label "Country" %>
      *
      <%= form.collection_select :country_id, Country.all, :id, :country_name, { required: true, :selected => @order.country_id } %>
    </div>

    <div class="field mt-2">
      <%= form.label "State" %>
      *
      <%= form.collection_select :state_id, State.all, :id, :state_name, {prompt: true}, { required: true, :selected => @order.state_id } %>
    </div>

    <div class="field mt-2">
      <%= form.label :city %>
      *
      <%= form.text_field :city, size: "15", placeholder: 'Houston', id: :order_city, required: true %>
    </div>

    <div class="field mt-2">
      <%= form.label :zip_code %>
      *
      <%= form.text_field :zip_code, size: "10", placeholder: '77777-8888', id: :order_zip_code, required: true %>
    </div>

    <%= form.hidden_field :order_date, value: @order.order_date %>

  </div>

</div>

<!-- Submit -->
<div class="actions">
  <%= form.submit :class => 'btn btn-primary btn-sm btn-block mt-4' %>
</div>

<% end %>