<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @order.vendor %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @order.payment_type %>
</p>

<p>
  <strong>Ship via:</strong>
  <%= @order.ship_via %>
</p>

<p>
  <strong>Order line:</strong>
  <%= @order.order_line %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Shippingnumber:</strong>
  <%= @order.ShippingNumber %>
</p>

<p>
  <strong>Customername:</strong>
  <%= @order.CustomerName %>
</p>

<p>
  <strong>Purchaseordernumber:</strong>
  <%= @order.PurchaseOrderNumber %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.OrderDate %>
</p>

<p>
  <strong>Shipondate:</strong>
  <%= @order.ShipOnDate %>
</p>

<p>
  <strong>Ordertotal:</strong>
  <%= @order.OrderTotal %>
</p>

<p>
  <strong>Streetaddress1:</strong>
  <%= @order.StreetAddress1 %>
</p>

<p>
  <strong>Streetaddress2:</strong>
  <%= @order.StreetAddress2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.City %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @order.Zipcode %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
