<% content_for :title, "Dashboard" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Error Banner -->
    <% if notice %>
      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <div class="h5 strong text-center mark" id="flash">
            <% value.each do |message| %>
                * <%= message %> *
                </br>
            <% end %>
          </div>
        <% else %>
          <div class="h5 strong text-center mark" id="flash">
            * <%= value %> *
          </div>
        <% end %>
      <% end %>
    <% end %>

    <a class="collapse-dashboard btn btn-primary btn-block btn-sm mb-3 active"
       type="button"
       data-toggle="buttons"
       aria-pressed="false"
       autocomplete="off"
       href="">Collapse Dashboard</a>

    <!-- Dashboard Accordian -->
    <div id="accordian">

      <!-- Card -->
      <div class="card mb-4">



        <!-- Card Header 2 - Products -->
        <div class="card-header text-center" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Products
            </button>
        </div>

        <!-- Content 2 - Products -->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

          <!-- Content Body -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <!-- Top 10 Most Ordered Products -->
                <%= link_to reports_path(active_tab: "report6", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Top 10 Most Ordered Products
                      </div>
                      <div class="card-body">
                        <%= column_chart OrderLine.joins(:product).group(:product_name).order("COUNT(product_id) desc").limit("10").count,
                                         colors: ["#697abc"],label: "Order Count", xtitle: "Product", ytitle: "Order Count", defer: true, download: "product_top10_column_chart", height: "300px",
                                         library: { animation: { easing: 'easeInQuad' }} %>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
              <div class="col-md-6">
                <!-- Products by State -->
                <%= link_to reports_path(active_tab: "report7", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Products by State
                      </div>
                      <div class="card-body">
                        <%= geo_chart OrderLine.joins(order: :state).group(:state_name).order("COUNT(state_id) asc").count,
                                      library: { region: "US", resolution: "provinces", colorAxis: {colors: ['#c6d2ff', '#6b6c6d', '#697abc']} }%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Header 3 - Customers -->
        <div class="card-header text-center" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Customers
            </button>
        </div>

        <!-- Content 3 - Top 10 Customers / state-->
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">

          <!-- Content Body -->
          <div class="card-body">

            <div class="row">

              <div class="col-md-6">
                <!-- Customer Orders -->
                <%= link_to reports_path(active_tab: "report10", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Top 10 Customers ( 6 Months )
                      </div>
                      <div class="card-body">
                        <%= bar_chart Order.left_joins(:customer).group(:company_name).where("order_date > ?", Date.today-6.months).order("COUNT(customers.id) DESC").limit("10").count,
                                      colors: ["#00899c"],label: "Orders", xtitle: "Orders", ytitle: "Company", legend: false, download: "customer_top10_chart", height: "300px",
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
              <div class="col-md-6">
                <!-- Customers by State -->
                <%= link_to reports_path(active_tab: "report6", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Customers by State
                      </div>
                      <div class="card-body">
                        <%= geo_chart Customer.joins(:state).group(:state_name).order("COUNT(state_id) desc").count,
                                      library: { region: "US", resolution: "provinces", colorAxis: {colors: ['#b7f6ff', '#00c7e2', '#00899c']} }%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
            </div>

            <!-- Order Totals by Company -->
            <%= link_to reports_path(active_tab: "report5", origin: "dashboard") do %>
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fa fa-bar-chart"></i>
                    Top 10 Order Totals by Customer
                  </div>
                  <div class="card-body">
                    <%= column_chart Order.joins(:customer).group(:company_name).order("sum(order_total) desc").limit("10").sum(:order_total), label: "Order Total", prefix: "$", thousands: ",", height: "300px",colors: ["#00639c"], xtitle: "Company Name", ytitle: "Order Total", download: "companytotals_top10_column_chart", library: { animation: { easing: 'easeInQuad' }}%>
                  </div>
                  <div class="card-footer small text-muted"></div>
                </div>
            <% end %>

          </div>
        </div>

        <!-- Card Header 4 - Top 10 Vendors / States -->
        <div class="card-header text-center" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Vendors
            </button>
        </div>

        <!-- Content 4 - Top 10 Vendors / States -->
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">

          <!-- Content Body -->
          <div class="card-body">

            <div class="row">

              <div class="col-md-6">
                <!-- Vendor Orders -->
                <%= link_to reports_path(active_tab: "report9", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Top 10 Vendors ( 6 Months )
                      </div>
                      <div class="card-body">
                        <%= bar_chart Order.left_joins(:vendor).group(:vendor_name).where("order_date > ?", Date.today-6.months).order("COUNT(vendors.id) DESC").limit("10").count,
                                      colors: ["#8CD384"], label: "Orders", xtitle: "Orders", ytitle: "Company", legend: false, download: "vendor_top10_chart", height: "300px",
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
              <div class="col-md-6">
                <!-- Vendors by State -->
                <%= link_to reports_path(active_tab: "report7", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Vendors by State
                      </div>
                      <div class="card-body">
                        <%= geo_chart Vendor.joins(:state).group(:state_name).order("COUNT(state_id) desc").count,
                                      library: { region: "US", resolution: "provinces", colorAxis: {colors: ['#9EEE95', '#8CD384', '#76B270']} }%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>

        <!-- Card Header 1 - Status -->
        <div class="card-header text-center" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Statuses
            </button>
        </div>

        <!-- Content 1 - Status -->
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">

          <!-- Content Body -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <!-- Order Status-->
                <%= link_to reports_path(active_tab: "report2", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Order Status
                      </div>
                      <div class="card-body">
                        <%= pie_chart Order.joins(:order_status).group(:order_status_description).count,
                                      colors: ["red", "green", "#6b6c6d"], defer: true,
                                      donut: true, legend: "bottom", download: "order_status_chart",
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
              <div class="col-md-4">
                <!-- Vendor Status-->
                <%= link_to reports_path(active_tab: "report3", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Vendor Status
                      </div>
                      <div class="card-body">
                        <%= pie_chart Vendor.joins(:vendor_status).group(:vendor_status_type).count,
                                      donut: true, legend: "bottom", download: "vendor_status_chart", defer: true,
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>

              <div class="col-md-4">
                <!-- Carrier use-->
                <%= link_to reports_path(active_tab: "report4", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-pie-chart"></i>
                        Carrier Use</div>
                      <div class="card-body">
                        <%= pie_chart Order.joins(:shipper).group(:shipper_description).count,
                                      donut: true, legend: "bottom", download: "carrier_use_chart", defer: true,
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Header 5 - Employees -->
        <div class="card-header text-center" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              Employees
            </button>
        </div>

        <!-- Content 5 - Employees -->
        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">

          <!-- Content Body -->
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">
                <!-- Amount of Orders by Employee (30 Days - Line Chart) -->
                <%= link_to reports_path(active_tab: "report8", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Amount of Orders by Employee ( 30 Days - Line Chart )
                      </div>
                      <div class="card-body">
                        <%= line_chart Order.joins(:employee).group(:lname).group_by_week(:order_date).where("order_date > ?", Date.current - 30.days).count,
                                       xtitle: "Weeks", ytitle: "Orders", legend: 'bottom', defer: true, download: "employee_30days_line_chart", library: {animation: {easing: 'linear'}} %>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
              <div class="col-md-6">
                <!-- Amount of Orders by Employee (30 Days - Column Chart) -->
                <%= link_to reports_path(active_tab: "report8", origin: "dashboard") do %>
                    <div class="card mb-3">
                      <div class="card-header">
                        <i class="fa fa-bar-chart"></i>
                        Amount of Orders by Employee ( 30 Days - Column Chart )
                      </div>
                      <div class="card-body">
                        <%= column_chart Order.joins(:employee).group(:lname).where("order_date > ?", Date.current - 30.days).order("COUNT(orders.id) DESC").count,
                                      colors: ["#5d9c00"],label: "Orders", xtitle: "Employee", ytitle: "Orders", defer: true, download: "employee_30days_column_chart", height: "300px",
                                      library: { animation: { easing: 'easeInCirc' }}%>
                      </div>
                      <div class="card-footer small text-muted"></div>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>


        </div>
      </div>

      <a class="expand-dashboard btn btn-primary btn-block btn-sm mb-3 active"
         type="button"
         data-toggle="buttons"
         aria-pressed="false"
         autocomplete="off"
         href="">Expand Dashboard</a>

  </div>
</div>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').remove();
    }, 2000);

    // On click collapse dashboard button
    $('a.collapse-dashboard').on( 'click', function (e) {

      // Remove show class from dashboard accordians
      $('#collapseOne').removeClass('show')
      $('#collapseTwo').removeClass('show')
      $('#collapseThree').removeClass('show')
      $('#collapseFour').removeClass('show')
      $('#collapseFive').removeClass('show')
      $('#collapseSix').removeClass('show')

    } );

    // On click collapse dashboard button
    $('a.expand-dashboard').on( 'click', function (e) {

      // Remove show class from dashboard accordians
      $('#collapseOne').addClass('show')
      $('#collapseTwo').addClass('show')
      $('#collapseThree').addClass('show')
      $('#collapseFour').addClass('show')
      $('#collapseFive').addClass('show')
      $('#collapseSix').addClass('show')

    } );
  })
</script>
