<% content_for :title, "Dashboard" %>

<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs -->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Error Banner -->
    <% if notice %>
      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <div class="h5 strong text-center mark">
            <% value.each do |message| %>
                * <%= message %> *
                </br>
            <% end %>
          </div>
        <% else %>
          <div class="h5 strong text-center mark">
            * <%= value %> *
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="row">

      <div class="col-md-4">

        <!-- Order Status-->
        <%= link_to reports_path(active_tab: "report2") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-pie-chart"></i>
                Order Status
              </div>
              <div class="card-body">
                <%= pie_chart Order.joins(:order_status).group(:order_status_description).count,
                              colors: ["red", "green"], defer: true,
                              donut: true, legend: "bottom", download: "order_status_chart",
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>

      </div>

      <div class="col-md-4">

        <!-- Vendor Status-->
        <%= link_to reports_path(active_tab: "report3") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-pie-chart"></i>
                Vendor Status
              </div>
              <div class="card-body">
                <%= pie_chart Vendor.joins(:vendor_status).group(:vendor_status_type).count,
                              donut: true, legend: "bottom", download: "vendor_status_chart", defer: true,
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>

      </div>

      <div class="col-md-4">

        <!-- Carrier use-->
        <%= link_to reports_path(active_tab: "report4") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-pie-chart"></i>
                Carrier Use</div>
              <div class="card-body">
                <%= pie_chart Order.joins(:shipper).group(:shipper_description).count,
                              donut: true, legend: "bottom", download: "carrier_use_chart", defer: true,
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>

      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- Vendor Total Orders -->
        <%= link_to reports_path(active_tab: "report9") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bar-chart"></i>
                Top 10 Vendors ( 6 Months )
              </div>
              <div class="card-body">
                <%= bar_chart Order.left_joins(:vendor).group(:vendor_name).where("order_date > ?", Date.today-6.months).order("COUNT(vendors.id) DESC").limit("10").count,
                              colors: ["#0038ff"], label: "Total Orders", xtitle: "Total Orders", ytitle: "Company", legend: false, download: "vendor_top10_chart", height: "300px",
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <!-- Customer Total Orders -->
        <%= link_to reports_path(active_tab: "report10") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bar-chart"></i>
                Top 10 Customers ( 6 Months )
              </div>
              <div class="card-body">
                <%= bar_chart Order.left_joins(:customer).group(:company_name).where("order_date > ?", Date.today-6.months).order("COUNT(customers.id) DESC").limit("10").count,
                              colors: ["#00899c"],label: "Total Orders", xtitle: "Total Orders", ytitle: "Company", legend: false, download: "customers_top10_chart", height: "300px",
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <!-- Amount of Orders by Employee (30 Days - Line Chart) -->
        <%= link_to reports_path(active_tab: "report8") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bar-chart"></i>
                Amount of Orders by Employee ( 30 Days - Line Chart )
              </div>
              <div class="card-body">
                <%= line_chart Order.joins(:employee).group(:lname).group_by_week(:order_date).where("order_date > ?", Date.current - 30.days).count,
                               xtitle: "Weeks", ytitle: "Amount", legend: 'bottom', defer: true, download: "employee_30days_line_chart", library: {animation: {easing: 'linear'}} %>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <!-- Amount of Orders by Employee (30 Days - Column Chart) -->
        <%= link_to reports_path(active_tab: "report8") do %>
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bar-chart"></i>
                Amount of Orders by Employee ( 30 Days - Column Chart )
              </div>
              <div class="card-body">
                <%= column_chart Order.joins(:employee).group(:lname).where("order_date > ?", Date.current - 30.days).order("COUNT(orders.id) DESC").count,
                              colors: ["#5d9c00"],label: "Total Order", xtitle: "Employee", ytitle: "Total Order", defer: true, download: "employee_30days_column_chart", height: "300px",
                              library: { animation: { easing: 'easeInCirc' }}%>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
        <% end %>
      </div>
    </div>

       <!-- Order Totals by Company -->
    <%= link_to reports_path(active_tab: "report5") do %>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i>
          Order Totals by Customer ( Top 10 )
        </div>
        <div class="card-body">
          <%= column_chart Order.joins(:customer).group(:company_name).order("sum(order_total) desc").limit("10").sum(:order_total), label: "Order Total", prefix: "$", thousands: ",", height: "300px",colors: ["#00639c"], xtitle: "Company Name", ytitle: "Order Total", download: "companytotals_top10_column_chart", library: { animation: { easing: 'easeInQuad' }}%>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    <% end %>


    <div class="row">

      <div class="col-md-4">

        <!-- Customers by State -->
        <%= link_to reports_path(active_tab: "report6") do %>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>
              Customers by State <br /> ( West Coast by US Census )
            </div>
            <div class="card-body">
              <%= pie_chart Customer.joins(:state).group(:state_name).where("state_id <= ?", 13).count,
                            donut: true, legend: "bottom", download: "customer_pie_west_chart", height: "300px",
                            library: { animation: { easing: 'easeInCirc' }}%>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        <% end %>

      </div>

      <div class="col-md-4">

        <!-- Customers by State -->
        <%= link_to reports_path(active_tab: "report6") do %>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>
              Customers by State <br /> ( Central by US Census )
            </div>
            <div class="card-body">
              <%= pie_chart Customer.joins(:state).group(:state_name).where("state_id >= ? and state_id <= ?", 14, 34).count,
                            donut: true, legend: "bottom", download: "customer_pie_central_chart", height: "300px",
                            library: { animation: { easing: 'easeInCirc' }}%>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        <% end %>

      </div>

      <div class="col-md-4">

        <!-- Customers by State -->
        <%= link_to reports_path(active_tab: "report6") do %>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i>
              Customers by State <br /> ( East Coast by US Census )
            </div>
            <div class="card-body">
              <%= pie_chart Customer.joins(:state).group(:state_name).where("state_id >= ?", 35).count,
                            donut: true, legend: "bottom", download: "customer_pie_east_chart", height: "300px",
                            library: { animation: { easing: 'easeInCirc' }}%>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        <% end %>

      </div>

    </div>

    <!-- Vendors by State -->
    <%= link_to reports_path(active_tab: "report7") do %>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i>
          Vendors by State
        </div>
        <div class="card-body">
          <%= bar_chart Vendor.joins(:state).group(:state_name).order("COUNT(state_id) desc").count,
                        colors: ["pink"],label: "Total Vendors", xtitle: "Total Vendors", ytitle: "State", download: "vendor_bar_chart", height: "600px",
                        library: { animation: { easing: 'easeInCirc' }}%>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    <% end %>

  </div>
</div>
