<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#report1">Order Totals by Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report2">Customer's by City</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report3">Vendor's by State</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report4">Report4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report5">Report5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report6">Report6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report7">Report7</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report8">Report8</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report9">Report9</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report10">Report10</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active container-fluid" id="report1">
      <div class="card mb-3">

        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Order Totals by Company

        </div>

        <div class="card-body">

          <div class="table-responsive">

              <table class="table table-bordered" id="report1table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th>Company</th>
                    <th>Order Total</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th>Company</th>
                    <th>Order Total</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                    <% @orders.each do |order| %>

                      <tr>

                        <!-- Columns to pull from order data -->
                        <td><%= order.customer.company_name %></td>
                        <td><%= order.order_total %></td>

                      </tr>

                    <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a order was created -->
        <div class="card-footer small text-muted">



        </div>



      </div>

    </div>
    <div class="tab-pane container-fluid" id="report2">
      <div class="card mb-3">

        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Customer's by City

        </div>

        <div class="card-body">

          <div class="table-responsive">

              <table class="table table-bordered" id="report2table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th>Company</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Job</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Zip</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th>Company</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Job</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Zip</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load customer data -->
                    <% @customers.each do |customer| %>
                        <tr>

                          <!-- Columns to pull from customer data -->
                            <td><%= customer.company_name %></td>
                            <td><%= customer.customer_first_name %></td>
                            <td><%= customer.customer_last_name %></td>
                            <td><%= customer.job_title %></td>
                            <td><%= customer.state.state_name %></td>
                            <td><%= customer.city %></td>
                            <td><%= customer.zip_code %></td>


                        </tr>
                      <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a customer was updated -->
        <div class="card-footer small text-muted">

        </div>

      </div>

    </div>
    <div class="tab-pane container-fluid" id="report3">
      <div class="card mb-3">

        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendor Table

        </div>

        <div class="card-body">

          <div class="table-responsive">

              <table class="table table-bordered" id="report3table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th>Vendor</th>
                    <th>Contact</th>
                    <th>State</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th>Vendor</th>
                    <th>Contact</th>
                    <th>State</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load vendor data -->
                    <% @vendors.each do |vendor| %>

                        <tr>

                          <!-- Columns to pull from vendor data -->
                          <td><%= vendor.vendor_name %></td>
                          <td><%= vendor.contact_name %></td>
                          <td><%= vendor.state.state_name %></td>

                        </tr>

                      <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a employee was created -->
        <div class="card-footer small text-muted">

        </div>

      </div>

    </div>
    <div class="tab-pane container-fluid" id="report4">
      <h3>Report4</h3>
    </div>
    <div class="tab-pane container-fluid" id="report5">
      <h3>Report5</h3>
    </div>
    <div class="tab-pane container-fluid" id="report6">
      <h3>Report6</h3>
    </div>
    <div class="tab-pane container-fluid" id="report7">
      <h3>Report7</h3>
    </div>
    <div class="tab-pane container-fluid" id="report8">
      <h3>Report8</h3>
    </div>
    <div class="tab-pane container-fluid" id="report9">
      <h3>Report9</h3>
    </div>
    <div class="tab-pane container-fluid" id="report10">
      <h3>Report10</h3>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
      var report1table = $('#report1table').DataTable( {
          "paging": true
      } );

      var report2table = $('#report2table').DataTable( {
          "paging": true
      } );

      var report3table = $('#report3table').DataTable( {
          "paging": true
      } );
  } );
</script>
