<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#report1">Report1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report2">Report2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report3">Report3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report4">Report4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report5">Report5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report6">Report6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report7">Report7</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report8">Report8</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report9">Report9</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report10">Report10</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active container-fluid" id="report1">
      <h3>Report1</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report2">
      <h3>Report2</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report3">
      <h3>Report3</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report4">
      <h3>Report4</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report5">
      <h3>Report5</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report6">
      <h3>Report6</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report7">
      <h3>Report7</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report8">
      <h3>Report8</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report9">
      <h3>Report9</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
    <div class="tab-pane container-fluid" id="report10">
      <h3>Report10</h3>
      <%= render partial: 'partials/tables/shipping-table' %>
    </div>
  </div>

</div>
