<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

  </div>

  <!-- Report Tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#report1">Order Totals by Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report2">Customer's by City</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report3">Vendor's by State</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report4">Report4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report5">Report5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report6">Report6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report7">Report7</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report8">Report8</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report9">Report9</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#report10">Report10</a>
    </li>
  </ul>

  <!-- Content in Tab -->
  <div class="tab-content">

    <!-- Tab 1 - Report 1 -->
    <div class="tab-pane active container-fluid" id="report1">

      <!-- Table Card -->
      <div class="card mb-3">

        <!-- Table Header -->
        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Order Totals by Company

        </div>

        <!-- Table Card Body -->
        <div class="card-body">

          <!-- Table Type -->
          <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered" id="report1table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Company</th>
                    <th class="text-center">Order Total</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Company</th>
                    <th class="text-center">Order Total</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load order data -->
                    <% @orders.each do |order| %>

                      <tr>

                        <!-- Columns to pull from order data -->
                        <td class="text-center"><%= order.customer.company_name %></td>
                        <td class="text-center"><%= order.order_total %></td>

                      </tr>

                    <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a order was created -->
        <div class="card-footer small text-muted">



        </div>



      </div>

    </div>

    <!-- Tab 2 - Report 2 -->
    <div class="tab-pane container-fluid" id="report2">

      <!-- Table Card -->
      <div class="card mb-3">

        <!-- Table Header -->
        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Customer's by City

        </div>

        <!-- Table Card Body -->
        <div class="card-body">

          <!-- Table Type -->
          <div class="table-responsive">

              <!-- Report 1 Table -->
              <table class="table table-bordered" id="report2table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Company</th>
                    <th class="text-center">First</th>
                    <th class="text-center">Last</th>
                    <th class="text-center">Job</th>
                    <th class="text-center">State</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Zip</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Company</th>
                    <th class="text-center">First</th>
                    <th class="text-center">Last</th>
                    <th class="text-center">Job</th>
                    <th class="text-center">State</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Zip</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load customer data -->
                    <% @customers.each do |customer| %>
                        <tr>

                          <!-- Columns to pull from customer data -->
                            <td class="text-center"><%= customer.company_name %></td>
                            <td class="text-center"><%= customer.customer_first_name %></td>
                            <td class="text-center"><%= customer.customer_last_name %></td>
                            <td class="text-center"><%= customer.job_title %></td>
                            <td class="text-center"><%= customer.state.state_name %></td>
                            <td class="text-center"><%= customer.city %></td>
                            <td class="text-center"><%= customer.zip_code %></td>


                        </tr>
                      <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a customer was updated -->
        <div class="card-footer small text-muted">

        </div>

      </div>

    </div>

    <!-- Tab 3 - Report 3 -->
    <div class="tab-pane container-fluid" id="report3">

      <!-- Table Card -->
      <div class="card mb-3">

        <!-- Table Header -->
        <div class="card-header">

            <!-- Table Icon -->
            <i class="fa fa-table"></i>

            <!-- Table Name -->
            Vendor Table

        </div>

        <!-- Table Card Body -->
        <div class="card-body">

          <!-- Table Type -->
          <div class="table-responsive">

              <!-- Report 2 Table -->
              <table class="table table-bordered" id="report3table" width="100%" cellspacing="0">

                <!-- Top Column Names -->
                <thead>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">State</th>

                  </tr>

                </thead>

                <!-- Bottom Column Names -->
                <tfoot>

                  <tr>

                    <th class="text-center">Vendor</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">State</th>

                  </tr>

                </tfoot>

                <!-- Content -->
                <tbody>

                  <!-- Load vendor data -->
                    <% @vendors.each do |vendor| %>

                        <tr>

                          <!-- Columns to pull from vendor data -->
                          <td class="text-center"><%= vendor.vendor_name %></td>
                          <td class="text-center"><%= vendor.contact_name %></td>
                          <td class="text-center"><%= vendor.state.state_name %></td>

                        </tr>

                      <% end %>

                </tbody>

              </table>

          </div>

        </div>

        <!-- Footnote: Lastest date a employee was created -->
        <div class="card-footer small text-muted">

        </div>

      </div>

    </div>

    <!-- Tab 4 - Report 4 -->
    <div class="tab-pane container-fluid" id="report4">
      <h3>Report4</h3>
    </div>

    <!-- Tab 5 - Report 5 -->
    <div class="tab-pane container-fluid" id="report5">
      <h3>Report5</h3>
    </div>

    <!-- Tab 6 - Report 6 -->
    <div class="tab-pane container-fluid" id="report6">
      <h3>Report6</h3>
    </div>

    <!-- Tab 7 - Report 7 -->
    <div class="tab-pane container-fluid" id="report7">
      <h3>Report7</h3>
    </div>

    <!-- Tab 8 - Report 8 -->
    <div class="tab-pane container-fluid" id="report8">
      <h3>Report8</h3>
    </div>

    <!-- Tab 9 - Report 9 -->
    <div class="tab-pane container-fluid" id="report9">
      <h3>Report9</h3>
    </div>

    <!-- Tab 10 - Report 10 -->
    <div class="tab-pane container-fluid" id="report10">
      <h3>Report10</h3>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {

      // Declare report1table
      var report1table = $('#report1table').DataTable( {

        // Enable paging, search, show # features
        "paging": true

      } );

      // Declare report2table
      var report2table = $('#report2table').DataTable( {

        // Enable paging, search, show # features
        "paging": true

      } );

      // Declare report3table
      var report3table = $('#report3table').DataTable( {

        // Enable paging, search, show # features
        "paging": true
        
      } );
  } );
</script>
