<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Section Above Employee Table -->
    <div class="ml-4 mb-4">

      <!-- Display Information -->

        <div class="row">
          <p><b> Logged in as: <%= current_employee.email %> </b></p>
        </div>

        <div class="row">
          <p> Name: <%= current_employee.fname %> <%= current_employee.lname %></p>
        </div>

        <div class="row">
          <p> Phone: <% if current_employee.phone %>
                        <%= current_employee.phone %>
                     <% else %>
                       No Phone Number on Record
                     <% end %>
          </p>
        </div>

        <div class="row">
          <p> Status: <%= current_employee.employee_status.employee_status_type %></p>
        </div>

        <div class="row">
          <p> Last sign in at: <%= current_employee.last_sign_in_at %> </p>
        </div>

      <!-- Edit Employee Button -->

        <button class="btn btn-primary"
                type="button"
                data-toggle="modal"
                data-target="#edit-current-employee-modal">
                Edit Current Employee

        </button>

    </div>

    <!-- Show If Admin -->
    <% if current_employee.admin? %>

      <!-- Employee Table-->
      <%= render partial: 'partials/tables/employee-table' %>

    <% end %>

  </div>

</div>

<!-- Edit Employee Modal-->
<%= render partial: 'partials/modals/edit-current-employee-modal' %>
