<!-- Content Wrapper -->
<div class="content-wrapper">

  <!-- Container (Fluid) -->
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <%= render partial: 'partials/breadcrumbs' %>

    <!-- Notice Banner -->
    <% if notice %>
      <% flash.each do |key, value| %>
        <% if value.class == Array %>
          <div class="h5 strong text-center mark">
            <% value.each do |message| %>
                * <%= message %> *
                </br>
            <% end %>
          </div>
        <% else %>
          <div class="h5 strong text-center mark">
            * <%= value %> *
          </div>
        <% end %>
      <% end %>
    <% end %>

    <!-- Section Above Employee Table -->
    <div class="ml-4 mb-4">

      <!-- Display Information -->

        <%= render :template => "devise/registrations/edit" %>

    </div>

    <!-- Show If Admin -->
    <% if current_employee.admin? %>

      <!-- Employee Table-->
      <%= render partial: 'partials/tables/employee-table' %>

    <% end %>

  </div>

</div>
