<p id="notice"><%= notice %></p>

<h1>Vendor Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Vendor status type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_statuses.each do |vendor_status| %>
      <tr>
        <td><%= vendor_status.vendor_status_type %></td>
        <td><%= link_to 'Show', vendor_status %></td>
        <td><%= link_to 'Edit', edit_vendor_status_path(vendor_status) %></td>
        <td><%= link_to 'Destroy', vendor_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor Status', new_vendor_status_path %>
