<%= form_with(model: vendor, local: true) do |form| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select :state_id, State.all, :id, :state_name %>
  </div>

  <div class="field">
    <%= form.label :vendor_status_id %>
    <%= form.collection_select :vendor_status_id, VendorStatus.all, :id, :vendor_status_type %>
  </div>

  <div class="field">
    <%= form.label :vendor_name %>
    <%= form.text_field :vendor_name, id: :vendor_vendor_name %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :vendor_contact_name %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, id: :vendor_job_title %>
  </div>

  <div class="field">
    <%= form.label :work_phone %>
    <%= form.text_field :work_phone, id: :vendor_work_phone %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :vendor_mobile %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :vendor_fax %>
  </div>

  <div class="field">
    <%= form.label :vendor_email %>
    <%= form.text_field :vendor_email, id: :vendor_vendor_email %>
  </div>

  <div class="field">
    <%= form.label :vendor_cc_email %>
    <%= form.text_field :vendor_cc_email, id: :vendor_vendor_cc_email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :vendor_website %>
  </div>

  <div class="field">
    <%= form.label :street_address_1 %>
    <%= form.text_field :street_address_1, id: :vendor_street_address_1 %>
  </div>

  <div class="field">
    <%= form.label :street_address_2 %>
    <%= form.text_field :street_address_2, id: :vendor_street_address_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :vendor_city %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :vendor_zip_code %>
  </div>

  <div class="actions row">
    <%= form.submit "Update Vendor", :class => 'btn btn-primary btn-sm mx-auto mt-2 mb-4 pl-4 pr-4' %>
  </div>
<% end %>
