<p id="notice"><%= notice %></p>

<h1>Vendors</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Vendor status</th>
      <th>Vendor name</th>
      <th>Contact name</th>
      <th>Job title</th>
      <th>Work phone</th>
      <th>Mobile</th>
      <th>Fax</th>
      <th>Vendor email</th>
      <th>Vendor cc email</th>
      <th>Website</th>
      <th>Street address 1</th>
      <th>Street address 2</th>
      <th>City</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.state %></td>
        <td><%= vendor.vendor_status %></td>
        <td><%= vendor.vendor_name %></td>
        <td><%= vendor.contact_name %></td>
        <td><%= vendor.job_title %></td>
        <td><%= vendor.work_phone %></td>
        <td><%= vendor.mobile %></td>
        <td><%= vendor.fax %></td>
        <td><%= vendor.vendor_email %></td>
        <td><%= vendor.vendor_cc_email %></td>
        <td><%= vendor.website %></td>
        <td><%= vendor.street_address_1 %></td>
        <td><%= vendor.street_address_2 %></td>
        <td><%= vendor.city %></td>
        <td><%= vendor.zip_code %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
