<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Vendor status:</strong>
  <%= @vendor.vendor_status %>
</p>

<p>
  <strong>Vendorname:</strong>
  <%= @vendor.VendorName %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @vendor.ContactName %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @vendor.JobTitle %>
</p>

<p>
  <strong>Workphone:</strong>
  <%= @vendor.WorkPhone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @vendor.Mobile %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @vendor.Fax %>
</p>

<p>
  <strong>Vendoremail:</strong>
  <%= @vendor.VendorEmail %>
</p>

<p>
  <strong>Vendorccemail:</strong>
  <%= @vendor.VendorCCEmail %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.Website %>
</p>

<p>
  <strong>Streetaddress1:</strong>
  <%= @vendor.StreetAddress1 %>
</p>

<p>
  <strong>Streetaddress2:</strong>
  <%= @vendor.StreetAddress2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @vendor.City %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @vendor.Zipcode %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
