<!-- Page title -->
<% content_for :title, "Login" %>

<!-- Container -->
<div class="container my-auto">

  <div class="appname mt-5 mb-2 h4"><p>Data And Trends Application</p></div>

  <!-- App logo -->

  <!-- Login card -->
  <div class="card card-login mx-auto mt-3 items-centered">

    <!-- Login card header -->
    <div class="rmslogo mt-3"><%= image_tag("rmslogoTRANSP.png", width: '200px') %></div>

    <!-- Login card content -->
    <div class="card-body">

      <!-- Login form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <!-- Alert -->
        <div class="mb-3">
          <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
        </div>

        <!-- Email -->
        <div class="field">

          <%= f.email_field :email, size: '30', autofocus: true, autocomplete: "email", placeholder: 'Email', required: true, class: "form-control" %>
        </div><br />

        <!-- Password -->
        <div class="field">

          <%= f.password_field :password, size: '30', autocomplete: "off", placeholder: 'Password', required: true, class: "form-control" %>
        </div>

        <!-- Remember me -->
        <% if devise_mapping.rememberable? -%>
          <!-- True -->
          <div class="field mt-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <!-- Submit -->
        <div class="actions">
          <%= f.submit "Log in", :class => 'btn btn-primary btn-sm btn-block mt-3' %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Links -->
  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
