<%= form_with(model: shipper, local: true) do |form| %>
  <% if shipper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipper.errors.count, "error") %> prohibited this shipper from being saved:</h2>

      <ul>
      <% shipper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shipper_description %>
    <%= form.text_field :shipper_description, id: :shipper_shipper_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
