<p id="notice"><%= notice %></p>

<h1>Order Lines</h1>

<table>
  <thead>
    <tr>
      <th>Item number</th>
      <th>Item description</th>
      <th>Item quantity</th>
      <th>Item price</th>
      <th>Item total cost</th>
      <th>Tax rate</th>
      <th>Tax amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.item_number %></td>
        <td><%= order_line.item_description %></td>
        <td><%= order_line.item_quantity %></td>
        <td><%= order_line.item_price %></td>
        <td><%= order_line.item_total_cost %></td>
        <td><%= order_line.tax_rate %></td>
        <td><%= order_line.tax_amount %></td>
        <td><%= link_to 'Show', order_line %></td>
        <td><%= link_to 'Edit', edit_order_line_path(order_line) %></td>
        <td><%= link_to 'Destroy', order_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Line', new_order_line_path %>
