<%= form_with(model: product, local: true) do |form| %>
  <!-- Notice Banner -->
  <% if notice %>
    <div class='h5 strong text-center mark'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Product name: " %>
    <%= form.text_field :product_name, value: @product.product_name, size: 41, id: :product_product_name, required: true %>
  </div>

  <div class="actions row">
    <%= form.submit "Add Product", class: "btn btn-primary btn-sm btn-block ml-5 mt-3"%>
  </div>

<% end %>
