<!-- Product form -->
<%= form_with(model: product, local: true) do |form| %>

  <!-- Notice Banner -->
  <% if notice %>
    <div class='h5 strong text-center mark'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <!-- Product field row -->
  <div class="row">

    <!-- Product name -->
    <div class="field ml-3">
      <%= form.label "Product name: " %>
      <%= form.text_field :product_name, value: @product.product_name, size: 40, id: :product_product_name, required: true %>
    </div>

    <!-- Price -->
    <div class="field ml-3">
      <%= form.label "Price: " %>
      <%= form.text_field :price, value: @product.price, placeholder: '$10.00', size: 20, id: :product_price, required: true %>
    </div>

    <!-- Submit -->
    <div class="actions">
      <%= form.submit class: "btn btn-primary btn-sm ml-4"%>
    </div>
  </div>
<% end %>
