<!DOCTYPE html>
<html>
  <head>
    <!-- Website Title -->
    <title>D.A.T.A. <%= yield(:title) %></title>

    <!-- CSFG Meta Tags -->
    <%= csrf_meta_tags %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= stylesheet_link_tag 'datatables' %>

    <!-- Javascript -->
    <%= javascript_include_tag 'application'%>

  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- Navigation -->
    <%= render partial: 'partials/navbar' %>

    <!-- Content -->
    <%= yield %>

    <!-- Footer -->
    <%= render partial: 'partials/footer' %>

    <!-- Scroll to Top Button-->
    <%= render partial: 'partials/scroll-to-top' %>

    <!-- Logout Modal for logout button-->
    <%= render partial: 'partials/modals/logout-modal' %>

  </body>
</html>
