<!DOCTYPE html>
<html>
  <head>
    <!-- Website Title -->
    <title>D.A.T.A.</title>

    <!-- CSFG Meta Tags -->
    <%= csrf_meta_tags %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= stylesheet_link_tag 'datatables' %>

    <!-- Javascript -->
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'dataTables.bootstrap4' %>
    <%= javascript_include_tag 'jquery.dataTables' %>
    <%= javascript_include_tag 'jquery.easing' %>
    <%= javascript_include_tag 'sb-admin-datatables' %>
    <%= javascript_include_tag 'sb-admin' %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- Content -->
    <%= yield %>


    <!-- Javascript for Charts-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/chart.js/Chart.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin-charts.min.js"></script>

  </body>
</html>
