<!DOCTYPE html>
<html>
  <head>
    <!-- Website Title -->
    <title>D.A.T.A.</title>

    <!-- CSFG Meta Tags -->
    <%= csrf_meta_tags %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= stylesheet_link_tag 'datatables' %>

    <!-- Javascript -->
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- Content -->
    <%= yield %>

  </body>
</html>
